.response {
    display: block;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    background-color: #282828;
    z-index: 1;
    width: 20%;
    padding: 1em 2em 2.5em 2em;
    min-height: 20em;

    &.active-modal {
        transform: translate(-50%, -50%) scale(1);
    }

    &-header {
        background-color: #282828;
        position: relative;
        height: 3em;

        .close-button {
            position: absolute;
            top: 0.5em;
            right: 0.5em;
            cursor: pointer;
            border: none;
            outline: none;
            background: none;
            font-size: 1.75em;
            font-weight: bold;
          }
    }

    &-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        width: 100%;
        background-color: #282828;
        width: 100%;

        form {
            height: 100%;
            width: 100%;

            .form-header {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.5em;
                font-weight: bold;
            }

            .form-control {
                display: flex;
                flex-direction: column;
                width: 95%;
                min-height: 8em;
                margin: 0 auto;

                .input-wrapper {
                    textarea {
                        border: none;
                        width: 100%;
                        resize: none;
                    }
                }

                label {
                    align-self: center;
                    font-size: 1.2em;
                }
            }
        }
    }

    @media(max-width: 1200px) {
        width: 50%;
    }

    @media(max-width: 600px) {
        width: 70%;
    }
}

.w-100 {
    width: 100%;
}

.modal-foot {
    display: flex;
    justify-content: center;
}

.modal-content {
    margin: 1em auto 0 auto;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.b-line {
    height: 2px;
    border-bottom: 1px solid #00D62E;
}

.list-style-none {
    list-style-type: none;
    padding: 0;
}

.success {
    color: #00D62E;
}

.error {
    color: #FF4246;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(166, 166, 166, 0.7);
    pointer-events: none;
}

#overlay.active-modal {
    opacity: 1;
    pointer-events: all;
}

.display-none {
    display: none;
}

.pointer {
    cursor: pointer;
}

.btn-outline {
    padding: 1rem 18px;
    border: 1px solid #00d62e;
    background: transparent;
    color: #fff;
    line-height: 12px;
    cursor: pointer;
    width: 50%;

    &:hover {
        background-color: #1c1b1b;
        box-shadow: 4px -3px 15px rgb(0, 214, 46 / 20%);
    }
}

//Spinner
.loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  .loader:before {
    width: 50%;
    height: 50%;
    background: #ffffff;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  .loader:after {
    background: #282828;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  