section.privacyPolicy {
    margin: 200px 200px 150px 200px;

	.privacyPolicyIndentation
	{
		margin: 10px 0 0 30px;
	}
	
	p
	{
		margin: 10px 0px 0px 10px;
	}

	.privacyPolicyHeader
	{
		margin: 0px 0px 50px 0px;
	}

	.documentation-in-proggress {
		font-weight: bold;
		text-align: center;
		font-size: 20px;
		margin-right: 200px;
	}

    @media(max-width: 1200px) {
        margin: 96px 48px 96px 48px;
		margin-right: 0px;
    }
    @media(max-width: 500px) {
        margin: 96px 35px 96px 35px;
    }
}

