RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI} [R,L]

RewriteCond %{HTTP_HOST} www.cryptomayhem.io [NC]
RewriteRule ^(.*)$ https://cryptomayhem.io/$1 [QSA,R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^(.*)$ https://cryptomayhem.io/en/ [QSA,R=301,L]
