<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crypto Mayhem</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="../img/favicon.png"/>
</head>
<body>
<div id="qLoverlay">
    <div id="qLbar_wrap" class="dfd_preloader_css_animation">
        <div id="dfd-preloader-animation" class="dfd-preloader-style-15">
            <span class="item-one"></span>
            <span class="item-two"></span>
        </div>				
    </div>
</div>
<main>
    <div class="video-container">
        <video class="video-full" playsinline loop muted autoplay>
            <source src="../img/webmovie.webm" type="video/webm">
            <source src="../img/webmovie.mp4" type="video/mp4">
        </video>
        <video class="video-mobile" playsinline loop muted autoplay>
            <source src="../img/webmoviem.webm" type="video/webm">
            <source src="../img/webmoviem.mp4" type="video/mp4">
        </video>
    </div>

    <aside class="socialLinks">
        <ul>
            <li>
                <a href="https://twitter.com/CryptoMayhem_io" class="icon-twitter"><span data-t="INDEX.HEADER.LEFT_BAR.TWITTER"></span></a>
            </li>
            <li>
                <a href="https://t.me/CryptoMayhemAnnouncement" class="icon-telegram"><span data-t="INDEX.HEADER.LEFT_BAR.TELEGRAM_ANNOUNCEMENT"></span></a>
            </li>
            <li>
                <a href=" https://t.me/CryptoMayhemOfficial" class="icon-telegram"><span data-t="INDEX.HEADER.LEFT_BAR.TWITTER_CHAT"></span></a>
            </li>
            <li>
                <a href="https://www.youtube.com/c/AdriaGames" class="icon-yt"><span data-t="INDEX.HEADER.LEFT_BAR.YOUTUBE"></span></a>
            </li>
            <li>
                <a href="https://discord.com/invite/K9EhcfQMdu" class="icon-discord"><span data-t="INDEX.HEADER.LEFT_BAR.DISCORD"></span></a>
            </li>
            <li>
                <a href="https://medium.com/@crypto_mayhem" class="icon-medium"><span data-t="INDEX.HEADER.LEFT_BAR.MEDIUM"></span></a>
            </li>
        </ul>
    </aside>
    <aside class="sections">
        <ul>
            <li>
                <a href="#galacticMission">
                    <hexagon-number>1</hexagon-number>
                    <span data-t="INDEX.HEADER.MENU.PLAY"></span></a>
            </li>
            <li>
                <a href="#metaverse">
                    <hexagon-number>2</hexagon-number>
                    <span data-t="INDEX.HEADER.MENU.METAVERSE"></span></a>
            </li>
            <li>
                <a href="#nft">
                    <hexagon-number>3</hexagon-number>
                    <span data-t="INDEX.HEADER.MENU.NFT"></span></a>
            </li>
            <li>
                <a href="#tokenomic">
                    <hexagon-number>4</hexagon-number>
                    <span data-t="INDEX.HEADER.MENU.TOKENOMIC"></span></a>
            </li>
            <li>
                <a href="#roadmap">
                    <hexagon-number>5</hexagon-number>
                    <span data-t="INDEX.HEADER.MENU.ROADMAP"></span></a>
            </li>
            <li>
                <a href="#team">
                    <hexagon-number>6</hexagon-number>
                    <span data-t="INDEX.HEADER.MENU.TEAM"></span></a>
            </li>
            <li>
                <a href="#documents">
                    <hexagon-number>7</hexagon-number>
                    <span data-t="INDEX.HEADER.MENU.DOCUMENTS"></span></a>
            </li>
            <li>
                <a href="#contact">
                    <hexagon-number>8</hexagon-number>
                    <span data-t="INDEX.HEADER.MENU.CONTACT"></span></a>
            </li>
        </ul>
    </aside>
    <header>
        <h1><img src="../img/logo.svg" alt="Crypto Mayhem"></h1>
        <nav class="mainMenu">
            <ul>
                <li class="onlyMobile">
                    <a href="#galacticMission"><span data-t="INDEX.HEADER.MENU.ONLY_MOBILE_PLAY"></span></a>
                </li>
                <li>
                    <a href="#metaverse"><span data-t="INDEX.HEADER.MENU.METAVERSE"></span></a>
                </li>
                <li>
                    <a href="#nft"><span data-t="INDEX.HEADER.MENU.NFT"></span></a>
                </li>
                <li>
                    <a href="#tokenomic"><span data-t="INDEX.HEADER.MENU.TOKENOMIC"></span></a>
                </li>
                <li>
                    <a href="#roadmap"><span data-t="INDEX.HEADER.MENU.ROADMAP"></span></a>
                </li>
                <li>
                    <a href="#team"><span data-t="INDEX.HEADER.MENU.TEAM"></span></a>
                </li>
                <li>
                    <a href="#documents"><span data-t="INDEX.HEADER.MENU.DOCUMENTS"></span></a>
                </li>
                <li>
                    <a href="#contact"><span data-t="INDEX.HEADER.MENU.CONTACT"></span></a>
                </li>
            </ul>
        </nav>
        <div class="header-rest">
            <ul class="langSelection">
                <li class="isActive">
                    <a href="https://cryptomayhem.io/en/">EN</a>
                </li>
                <li>
                    <a href="https://cryptomayhem.io/pl/">PL</a>
                </li>
            </ul>
            <cut-button class="disableBuyAdriaButton" data-t="INDEX.HEADER.MENU.BUY_ADRIA_BUTTON"></cut-button>
        </div>
        <div class="hamburger">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </header>
    <div class="groupOfSections" id="galacticMission">
        <section class="galacticMission">
            <span class="subTitle" data-t="INDEX.HEADER.MIDDLE.SUB_TITLE"></span>
            <span class="mainTitle mainTitle-long" data-t="INDEX.HEADER.MIDDLE.MAIN_TITLE"></span>
            <cut-button data-t="INDEX.HEADER.MIDDLE.PLAY"></cut-button>
        </section>
        <section class="galacticMission-video">
            <div class="video-wrapper">
				<div class="video-container">
					<iframe class="video-position" src="https://www.youtube.com/embed/TNfrTuSQM9U?autoplay=0&showinfo=0&controls=1&iv_load_policy=3&modestbranding=1&rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </section>
        <section class="galacticMission-opinion">
            <div>
                <p><span data-t="INDEX.SECTIONS.GALACTIC_MISSION.OPINION"></span></p>

                <div class="image-wrapper">
                    <div class="image">
                        <img src="../img/galacticMissionBg.jpg">
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="metaverse">
        <div id="metaverse">
            <div class="description">
                <h2>
                    <span class="mainTitle">Metaverse</span>
                </h2>
                <p data-t="INDEX.SECTIONS.METAVERSE.FIRST_TEXT"></p>
                <p data-t="INDEX.SECTIONS.METAVERSE.SECOND_TEXT"></p>
				<div class="gif-container">
					<div class="video-wrapper">
						<video src="../img/critter2_gif.mp4" loop autoplay muted></video>
					</div>
					<div class="video-wrapper">
						<video src="../img/weapon2_gif.mp4" loop autoplay muted></video>
					</div>
					<div class="video-wrapper">
						<video src="../img/juggernaut_turntable2_gif.mp4" loop autoplay muted></video>
					</div>
                </div>
            </div>
            <div class="image-wrapper">
                <div class="image">
                    <img src="../img/mech.jpg">
                </div>
            </div>
        </div>
    </section>
    <section class="nft" id="nft">
        <div>
            <div class="horizontalScroll">
                <div>
                    <div class="ntf-introduction">
                        <h2><img alt="NFT" src="../img/text/NFT.svg"></h2>
                        <div class="content">
                            <p data-t="INDEX.SECTIONS.NFT.CONTENT.TEXT1"></p>
                            <p data-t="INDEX.SECTIONS.NFT.CONTENT.TEXT2"></p>
                            <p data-t="INDEX.SECTIONS.NFT.CONTENT.TEXT3"></p>
                            <p data-t="INDEX.SECTIONS.NFT.CONTENT.TEXT4"></p>
                            <p data-t="INDEX.SECTIONS.NFT.CONTENT.TEXT5"></p>
                        </div>
                        <div class="endTitles" data-t="INDEX.SECTIONS.NFT.END_TITLES.TEXT"></div>
                    </div>
                    <div class="nft-page">
                        <img class="text" src="../img/text/MECH.svg" alt="MECH">
                        <picture class="image image-mech">
                            <source srcset="../img/vlad.webp" type="image/webp">
                            <source srcset="../img/vlad.png" type="image/png">
                            <img srcset="../img/vlad.webp">
                        </picture>
                    </div>

                    <div class="nft-page">
                        <img class="text" src="../img/text/DRON.svg" alt="DRON">
                        <picture class="image image-dron">
                            <source srcset="../img/drones1.webp" type="image/webp">
                            <source srcset="../img/drones1.png" type="image/png">
                            <img srcset="../img/drones1.webp">
                        </picture>

                    </div>

                    <div class="nft-page">
                        <img class="text" src="../img/text/AVATAR.svg" alt="AVATAR">
                        <picture class="image image-avatar">
                            <source srcset="../img/avatar.webp" type="image/webp">
                            <source srcset="../img/avatar.png" type="image/png">
                            <img srcset="../img/avatar.webp">
                        </picture>
                    </div>
                </div>
            </div>
            <div class="counters">
                <div class="introduction-arrow">
                    <hr>
                </div>
                <div class="counter">
                    <span>01</span>
                    <hr>
                    <span>03</span>
                </div>
                <div class="counter">
                    <span>02</span>
                    <hr>
                    <span>03</span>
                </div>
                <div class="counter">
                    <span>03</span>
                    <hr>
                
				<span>03</span>
                </div>
            </div>
        </div>
    </section>
    <section class="getAdria">
        <div>
            <div class="content">
                <h2 data-t="INDEX.SECTIONS.GET_ADRIA.TITLE"></h2>
                <p data-t="INDEX.SECTIONS.GET_ADRIA.CONTENT"></p>
                <div class="button-wrapper">
                    <cut-button class="disableBuyAdriaButton" data-t="INDEX.SECTIONS.GET_ADRIA.BUY_ADRIA_BUTTON"></cut-button>
                </div>
                <div class="sub">
                    <div><span data-t="INDEX.SECTIONS.GET_ADRIA.ADRIA_TOKEN_PLACE"></span> <img src="../img/icons/Exchange.svg" class="exchangeMiniLogo"></div>
                    <div><span data-t="INDEX.SECTIONS.GET_ADRIA.POWERED"></span> <span class="icon-binance"></span> BEP20:
<!--                        <span class="address"></span><span class="icon-copy"></span>-->
                        <span data-t="INDEX.SECTIONS.GET_ADRIA.SOON"></span>
                    </div>
                </div>
            </div>
            <picture>
                <source srcset="../img/token1.webp" type="image/webp">
                <source srcset="../img/token1.png" type="image/png">
                <img src="../img/token1.png">
            </picture>
        </div>
    </section>
    <section class="supply" id="tokenomic">
        <div>
            <h2>
                <span>Total supply</span>
                <strong>1 000 000 000 ADRIA</strong>
            </h2>
            <div class="graph">
                <?xml version="1.0" encoding="UTF-8" standalone="no"?>
				<svg viewBox="0 0 590 590" height="590" width="590">
				  <g transform="translate(40,40)">
					<mask id="circleMask">
					  <path
						style="fill:#ffffff;"
						d="m 70,295 c 0,-123.71178 100.28822,-224 224,-224 123.71178,0 224,100.28822 224,224 0,123.71178 -100.28822,224 -224,224 -123.71178,0 -224,-100.28822 -224,-224 z"
					  />
					</mask>
					<mask id="reverseCircleMask">
					  <rect x="0" y="0" width="800" height="800" style="fill:#fff;" />
					  <path
						style="fill:#000;"
						class="circle"
						d="m 70,295 c 0,-123.71178 100.28822,-224 224,-224 123.71178,0 224,100.28822 224,224 0,123.71178 -100.28822,224 -224,224 -123.71178,0 -224,-100.28822 -224,-224 z"
					  />
					</mask>
					<foreignobject>
					  <picture>
						<img loading="lazy" src="../img/icons/adriaCoinGIF_200x200px.gif" width="200px" height="200px">
					  </picture>
					</foreignobject>
				  </g>
				  <g mask="url(#reverseCircleMask)">
					  <g transform="matrix(0.090, 0, 0, 0.090, 41, 41)">
					   <path data-supply="1" style="fill:#a1fbb4;" d="M2812 2813l0 -2813c179,0 358,17 533,51l-533 2762z"/>
					   <path data-supply="2" style="fill:#73fb90;" d="M2812 2813l533 -2762c1323,255 2280,1413 2280,2762 0,193 -20,386 -60,576l-2753 -576z"/>
					   <path data-supply="3" style="fill:#01fb37;" d="M2812 2813l2753 576c-24,116 -56,231 -95,343l-2658 -919z"/>
					   <path data-supply="4" style="fill:#1dd944;" d="M2812 2813l2658 919c-38,112 -85,223 -138,329l-2520 -1248z"/>
					   <path data-supply="5" style="fill:#19bf3c;" d="M2812 2813l2520 1248c-132,267 -306,512 -515,724l-2005 -1972z"/>
					   <path data-supply="6" style="fill:#16a634;" d="M2812 2813l2005 1972c-83,85 -173,165 -266,238l-1739 -2210z"/>
					   <path data-supply="7" style="fill:#0f7324;" d="M2812 2813l1739 2210c-234,184 -497,331 -777,432l-962 -2642z"/>
					   <path data-supply="8" style="fill:#0c591c;" d="M2812 2813l962 2642c-308,112 -634,170 -962,170 -268,0 -535,-38 -792,-114l792 -2698z"/>
					   <path data-supply="9" style="fill:#094014;" d="M2812 2813l-792 2698c-575,-169 -1082,-518 -1446,-995l2238 -1703z"/>
					   <path data-supply="10" style="fill:#04260c;" d="M2812 2813l-2238 1703c-363,-477 -564,-1059 -574,-1659l2812 -44z"/>
					   <path data-supply="11" style="fill:#021707;" d="M2812 2813l-2812 44c0,-14 0,-30 0,-44 0,-1554 1259,-2813 2812,-2813l0 2813z"/>
					</g>
				  </g>
				  
				</svg>
            </div>
            <ul>
                <li data-supply="1">
                    <h3>3%</h3>
                    <span class="title">Private Sale</span>
                    <div>
                        TGE: 10%<br>
                        Unlocked: 9 months / block
                    </div>
                </li>
                <li data-supply="2">
                    <h3>25%</h3>
                    <span class="title">IDO</span>
                    <div>
                        TGE: 10%<br>
                        Unlocked: 9 months / block
                    </div>
                </li>
                <li data-supply="3">
                    <h3>2%</h3>
                    <span class="title">Tenset Incubator</span>
                    <div>
                        TGE: 10%<br>
                        Unlocked: 9 months / block
                    </div>
                </li>
                <li data-supply="4">
                    <h3>2.5%</h3>
                    <span class="title">LP REWARDS</span>
                    <div>
                        Lock: 2 weeks<br>
                        Unlocked: 24 months / block
                    </div>
                </li>
                <li data-supply="5">
                    <h3>5%</h3>
                    <span class="title">Staking</span>
                    <div>
                        Lock: 2 weeks<br>
                        Unlocked: 24 months / block
                    </div>
                </li>
            </ul>
            <ul>
                <li data-supply="6">
                    <h3>2.5%</h3>
                    <span class="title">Advisors</span>
                    <div>
                        Lock: 12 months<br>
                        Unlocked: 36 months / block
                    </div>
                </li>
                <li data-supply="7">
                    <h3>5%</h3>
                    <span class="title">Marketing</span>
                    <div>
                        Lock: 12 months<br>
                        Unlocked: 24 months / block
                    </div>
                </li>
                <li data-supply="8">
                    <h3>10%</h3>
                    <span class="title">Exchanges</span>
                    <div>
                        TGE: 35% *<br>
                        Unlocked: 12 months / block<br>
						<span class="small-font">* listing liquidity DEX and CEX</span>
                    </div>
                </li>
                <li data-supply="9">
                    <h3>10%</h3>
                    <span class="title">Team</span>
                    <div>
                        Lock: 24 months<br>
                        Unlocked: 12 months / block
                    </div>
                </li>
                <li data-supply="10">
                    <h3>10%</h3>
                    <span class="title">reserve</span>
                    <div>
                        Lock: 12 months<br>
                        Unlocked: 12 months / block
                    </div>
                </li>
                <li data-supply="11">
                    <h3>25%</h3>
                    <span class="title">Play To Earn</span>
                    <div>
                        Lock: 1 month<br>
                        Unlocked: 47 months / block
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="adriaCorporation">
        <div>
            <h2>
                What we have in adria Corporation?
            </h2>
            <div class="list">
                <div>
					<div>
						<p class="center-img">
							<img src="../img/icons/StakeAdria.svg">
						</p>
						<p>
							<h3 class="center-topic">Stake ADRIA</h3>
						</p>
					</div>
                    <p>Management and staking in exchange for protocol income. Allows you to stak city zones and take
                        control of them for a set period of time, in order to raise taxes from transactions made between
                        players within the space.
                    </p>
                </div>

                <div>
					<div>
						<p class="center-img">
							<img src="../img/icons/StakeNFT.svg">
						</p>
						<p>
							<h3 class="center-topic">Stake NFT</h3>
						</p>
					</div>
                    <p>Stake NFT will be done by using an Avatar or NPC with an NFT item that can be placed in the land.
                        This will allow for the extraction of resources in the game.
                    </p>
                </div>
                <div>
					<div>
						<p class="center-img">
							<img src="../img/icons/MiniNFT.svg">
						</p>
						<p>
							<h3 class="center-topic">Mint NFT</h3>
						</p>
					</div>
                    <p>We put the look and attributes of future mecha equipment in your hands. You can configure them in
                        your workshop and create your own unique mecha.
                    </p>
                </div>
                <div>
					<div>
						<p class="center-img">
							<img src="../img/icons/3dTDS.svg">
						</p>
						<p>
							<h3 class="center-topic">3D TDS</h3>
						</p>
					</div>
                    <p>Game layer developed in unity engine. Players will be able to use purchased / created by
                        themselves NFT (mechs, drones, weapons) by playing missions in which they can gain resources and
                        blueprints. During the missions, the player must defeat hordes of enemies in a bloody fight for
                        survival.
                    </p>
                </div>
                <div>
					<div>
						<p class="center-img">
							<img src="../img/icons/DigitalOwnership.svg">
						</p>
						<p>
							<h3 class="center-topic">Real digital ownership</h3>
						</p>
					</div>
                    <p>You will be the perpetual owner of your digital items, even if the game were to shut down or slow
                        down development. Thanks to blockchain technology, every element of the game can be tokenised
                        which allows players to decide how they want to manage their items.
                    </p>
                </div>
                <div>
					<div>
						<p class="center-img">
							<img src="../img/icons/Safety.svg">
						</p>
						<p>
							<h3 class="center-topic">Security</h3>
						</p>
					</div>
                    <p>Digital game pieces can be easily tokenised and traded on blockchain-backed markets.
                        Scarcity-based positions usually delight in fraud, but with blockchain the risk is minimised.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="roadmap" id="roadmap">
        <div>
            <h2>
                Roadmap
            </h2>

            <picture class="drone">
                <source srcset="../img/drones2.webp">
                <source srcset="../img/drones2.png">
                <img src="../img/drones2.png">
            </picture>
            <div class="list">
                <div>
                    <h3>01</h3>
                    <ul>
                        <li>Creation of the idea of Crypto Mayhem</li>
                        <li>Company structure defined</li>
                        <li>Adria-Art & Adria Games partnership of Crypto Mayhem long term vision</li>
                    </ul>
                    <div class="status status-done">done</div>
                </div>
                <div>
                    <h3>02</h3>
                    <ul>
                        <li>Social Media Launch</li>
                        <li>Game Art concepts for mechs and weapons</li>
                        <li>Core IT team recruitment</li>
                        <li>Comcreo partnership</li>
                        <li>Brand Identity concept</li>
                    </ul>
                    <div class="status status-done">done</div>
                </div>
                <div>
                    <h3>03</h3>
                    <ul>
                        <li>Partnership</li>
                        <li>GDD (ver.1) accepted</li>
                        <li>Official Website</li>
                        <li>Roadmap</li>
                    </ul>
                    <div class="status status-done">done</div>
                </div>
                <div>
                    <h3>04</h3>
                    <ul>
                        <li>PGA live adventure</li>
                        <li>Tokenomy</li>
                        <li>Trailer</li>
                        <li>Company registration in Estonia</li>
                        <li>Whitepaper</li>
                    </ul>
                    <div class="status status-done">done</div>
                </div>
                <div>
                    <h3>05</h3>
                    <ul>
                        <li>ADRIA presale</li>
                        <li>NFT Avatars, NPCs and items for sale</li>
                        <li>ADRIA IDO</li>
                        <li>ADRIA liquidity mining</li>
                        <li>ADRIA early staking</li>
                        <li>ADRIA CEX listings</li>
                    </ul>
                    <div class="status status-inProgress">in progress</div>
                </div>
                <div>
                    <h3>06</h3>
                    <ul>
                        <li>Geological missions</li>
                        <li>NFT Land sale</li>
                        <li>Basic planet infrastructure development</li>
                    </ul>
                </div>
                <div>
                    <h3>07</h3>
                    <ul>
                        <li>NFT Legendary Drones Sale</li>
                        <li>NFT Drones staking on mining spots for Mechanium rewards</li>
                    </ul>
                </div>
                <div>
                    <h3>08</h3>
                    <ul>
                        <li>NFT Legendary Mechs Sale</li>
                        <li>MVP Top-Down Shooter (alfa)</li>
                    </ul>
                </div>
                <div>
                    <h3>09</h3>
                    <ul>
                        <li>ADRIA staking for provinces control</li>
                    </ul>
                </div>
                <div>
                    <h3>10</h3>
                    <ul>
                        <li>NFT Legendary weapons Sale</li>
                        <li>Top-Down Shooter (beta)</li>
                    </ul>
                </div>
                <div>
                    <h3>11</h3>
                    <ul>
                        <li>Advanced planet infrastructure development</li>
                    </ul>
                </div>
                <div>
                    <h3>12</h3>
                    <ul>
                        <li>Top-Down Shooter PVE</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="team" id="team">
        <h2>Team</h2>
        <div class="list-wrapper">
            <div class="list">
                <div>
                    <img src="../img/team/Andrzej.png">
                    <div class="name">Andrzej Bereźnicki</div>
                    <div class="title">CEO - Mayhem Games, </br>COO, Cryptocurrency Specialist</div>
                    <div class="links">
                        <a href="https://www.linkedin.com/in/andrzej-bere%C5%BAnicki-364bb9209/" class="icon-linkedin"><span>Linkedin</span></a>
                        <a href="https://twitter.com/CeoAndrzej" class="icon-twitter"><span>Twitter</span></a>
                    </div>
                </div>
                <div>
                    <img src="../img/team/Paweł.png">
                    <div class="name">Paweł Spionkowski</div>
                    <div class="title">CEO - Adria Games, </br>CTO, Blockchain Developer</div>
                    <div class="links">
                        <a href="https://www.linkedin.com/in/pawe%C5%82-spionkowski-237114194/" class="icon-linkedin"><span>Linkedin</span></a>
                        <a href="https://twitter.com/PSpionkowski" class="icon-twitter"><span>Twitter</span></a>
                    </div>
                </div>
                <div>
                    <img src="../img/team/Agata.png">
                    <div class="name">Agata Ziemniarska</div>
                    <div class="title">Chief Administration Officer</div>
                </div>
                <div>
                    <img src="../img/team/Artur.png">
                    <div class="name">Artur Łysko</div>
                    <div class="title">Lead Game Designer</div>
                </div>
                <div>
                    <img src="../img/team/Dominik.png">
                    <div class="name">Dominik Kubacki</div>
                    <div class="title">Art Director</div>
                </div>
                <div>
                    <img src="../img/team/Bartek.png">
                    <div class="name">Bartosz Kiełtyka</div>
                    <div class="title">Architect .NET, </br>Blockchain Developer</div>
                </div>
                <div>
                    <img src="../img/team/Filip.png">
                    <div class="name">Filip Motyl</div>
                    <div class="title">Unity Developer</div>
                </div>
                <div>
                    <img src="../img/team/Mateusz.png">
                    <div class="name">Mateusz Kolasiński</div>
                    <div class="title">Unity Developer</div>
                </div>
                <div>
                    <img src="../img/team/Tomek.png">
                    <div class="name">Tomasz Kubacki</div>
                    <div class="title">Concept Artist</div>
                </div>
                <div>
                    <img src="../img/team/Adrian.png">
                    <div class="name">Adrian Żak</div>
                    <div class="title">Animator, Artist</div>
                </div>
                <div>
                    <img src="../img/team/Karolina.png">
                    <div class="name">Karolina Saniewska</div>
                    <div class="title">Quality Assurance</div>
                </div>
                <div>
                    <img src="../img/team/Wiktoria.png">
                    <div class="name">Wiktoria Marek-Ryś</div>
                    <div class="title">Social Media Specialist</div>
                </div>
            </div>
        </div>
        <div class="slider-wrapper">
            Move
            <drag-slider></drag-slider>
        </div>
    </section>
    <section class="behindUs">
        <h2>Partners</h2>
        <ul>
            <li><a href="https://www.tenset.io/"><img class="tenset-logo" src="../img/logos/tenset-incubator.svg" alt="Tenset"></a></li>
            <li><a href="https://adriagames.com/"><img src="../img/logos/adriagames.svg" alt="Adria Games"></a></li>
            <li><a href="https://comcreo.com/"><img src="../img/logos/comcreo.svg" alt="Comcreo"></a></li>
            <li><a href="https://synapse.network/"><img src="../img/logos/SynapseNetwork.svg" alt="Synapse Network"></a></li>
            <li><a href="https://adria-art.pl/"><img src="../img/logos/adriaart.png" alt="Adria Art"></a></li>
            <li><a href="https://kryptoekipa.pl/"><img src="../img/logos/Kryptoekipa.svg" alt="Kryptoekipa"></a></li>
        </ul>
    </section>
    <section class="discover" id="documents">
        <div class="mouseReactive">
            <h2>Discover more about Crypto Mayhem</h2>
            <article>
                <div class="image">
                    <img src="../img/whitepaperBack.svg">
                    <img src="../img/whitepaperFront.svg">
                </div>

                <h3>Whitepaper</h3>
                <p>Detailed description of the project content including functionality of our token and NFT. Overview of
                    the entire ecosystem and visual interpretations.</p>
                <cut-button class="buyAdriaButton" href="../img/documents/whitepaper_eng.pdf">Download</cut-button>
            </article>
            <article>
                <div class="image">
                    <img src="../img/pitchdeckBack.svg">
                    <img src="../img/pitchdeckFront.svg">
                </div>

                <h3>PITCHDECK</h3>
                <p>Game design visualisation. It will give you an initial understanding of our ecosystem and a vision of
                    the project.</p>
                <cut-button class="buyAdriaButton" href="../img/documents/pitchdeck_eng.pdf">Download</cut-button>
            </article>
        </div>
    </section>
    <footer id="contact">
        <hr class="joinUs">
        <img src="../img/logo.svg" alt="Crypt0Mayhem" class="logo">

        <ul class="socialLinks">
            <li>
                <a href="https://twitter.com/CryptoMayhem_io" class="icon-twitterlight"><span>Twitter</span></a>
            </li>
            <li>
                <a href="https://t.me/CryptoMayhemAnnouncement"
                   class="icon-telegramlight"><span>Telegram</br>Announcement</span></a>
            </li>
            <li>
                <a href="https://t.me/CryptoMayhemOfficial" class="icon-telegramlight"><span>Telegram Chat</span></a>
            </li>
            <li>
                <a href="https://www.youtube.com/c/AdriaGames" class="icon-ytlight"><span>YouTube</span></a>
            </li>
            <li>
                <a href="https://discord.com/invite/K9EhcfQMdu" class="icon-discordlight"><span>Discord</span></a>
            </li>
            <li>
                <a href="https://medium.com/@crypto_mayhem" class="icon-mediumlight"><span>Medium</span></a>
            </li>
        </ul>
        <a href="mailto:info@cryptomayhem.io" class="email">info@cryptomayhem.io</a>
        <div class="finalFooter">
            <div>&copy; 2022 Crypto Mayhem</div>
            <div class="finalFooterCenter">
				Mayhem Games OÜ<br>
				Lõõtsa tn 5, 11415<br>
				Tallinn, Estonia
            </div>
            <div>
                <a href="https://cryptomayhem.io/en/privacy-policy/">Privacy Policy</a>
                <a href="https://cryptomayhem.io/en/terms-and-conditions/">Terms & Conditions</a>
                <a href="https://cryptomayhem.io/en/legal-compliance-and-information/">Legal Compliance & Information</a>
            </div>
<!--                Designed by <a href="https://www.behance.net/oskartomecki" class="creatorsLink">Oskar Tomecki</a><br>-->
<!--                Coded by <a href="https://green-code.studio/" class="creatorsLink">Green Code Studio</a>-->
        </div>
    </footer>
</main>
</body>
</html>