<!DOCTYPE html>
<html data-attr-t lang-t="LANGUAGE">
<head>
    <meta charset="UTF-8">
    <title>Crypto Mayhem</title>
    <meta name="description" data-attr-t content-t="SITE_DESCRIPTION">
    <meta name="robots" content="index, follow">
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel="icon" type="image/png" href="../img/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div id="overlay"></div>
<div id="qLoverlay">
    <div id="qLbar_wrap" class="dfd_preloader_css_animation">
        <div id="dfd-preloader-animation" class="dfd-preloader-style-15">
            <span class="loader-top-position-item-one item-one"></span>
            <span class="loader-top-position-item-two item-two"></span>
        </div>
    </div>
	<img class="loader-mech"  src="../img/icons/CryptoMayhem_loader.gif">
</div>
<main>
    <div class="video-container" id="main-video">
        <video class="video-full" playsinline loop muted autoplay>
            <source src="../img/webmovie.webm" type="video/webm">
            <source src="../img/webmovie.mp4" type="video/mp4">
        </video>
        <video class="video-mobile" playsinline loop muted autoplay>
            <source src="../img/webmoviem.webm" type="video/webm">
            <source src="../img/webmoviem.mp4" type="video/mp4">
        </video>
    </div>

    <aside class="socialLinks">
        <ul>
            <li>
                <a href="https://twitter.com/CryptoMayhem_io" class="icon-twitter"><span data-t="INDEX.HEADER.LEFT_BAR.TWITTER"></span></a>
            </li>
            <li>
                <a href="https://t.me/CryptoMayhemAnnouncement" class="icon-telegram"><span data-t="INDEX.HEADER.LEFT_BAR.TELEGRAM_ANNOUNCEMENT"></span></a>
            </li>
            <li>
                <a href=" https://t.me/CryptoMayhemOfficial" class="icon-telegram"><span data-t="INDEX.HEADER.LEFT_BAR.TWITTER_CHAT"></span></a>
            </li>
            <li>
                <a href="https://www.youtube.com/c/AdriaGames" class="icon-yt"><span data-t="INDEX.HEADER.LEFT_BAR.YOUTUBE"></span></a>
            </li>
            <li>
                <a href="https://discord.gg/XZxXK2aUre" class="icon-discord"><span data-t="INDEX.HEADER.LEFT_BAR.DISCORD"></span></a>
            </li>
            <li>
                <a href="https://medium.com/@crypto_mayhem" class="icon-medium"><span data-t="INDEX.HEADER.LEFT_BAR.MEDIUM"></span></a>
            </li>
        </ul>
    </aside>
    <aside class="sections">
        <ul>
            <li>
                <a href="#galacticMission" onclick="">
                    <hexagon-number>1</hexagon-number>
                    <span data-t="INDEX.HEADER.MENU.PLAY"></span></a>
            </li>
            <li>
                <a href="#trailer">
                    <hexagon-number>2</hexagon-number>
                    <span data-t="INDEX.HEADER.MENU.TRAILER"></span></a>
            </li>
            <li>
                <a href="#metaverse">
                    <hexagon-number>3</hexagon-number>
                    <span data-t="INDEX.HEADER.MENU.METAVERSE"></span></a>
            </li>
            <li>
                <a href="#nft">
                    <hexagon-number>4</hexagon-number>
                    <span data-t="INDEX.HEADER.MENU.NFT"></span></a>
            </li>
            <li>
                <a href="#tokenomic">
                    <hexagon-number>5</hexagon-number>
                    <span data-t="INDEX.HEADER.MENU.TOKENOMIC"></span></a>
            </li>
            <li>
                <a href="#roadmap">
                    <hexagon-number>6</hexagon-number>
                    <span data-t="INDEX.HEADER.MENU.ROADMAP"></span></a>
            </li>
            <li>
                <a href="#team">
                    <hexagon-number>7</hexagon-number>
                    <span data-t="INDEX.HEADER.MENU.TEAM"></span></a>
            </li>
            <li>
                <a href="#documents">
                    <hexagon-number>8</hexagon-number>
                    <span data-t="INDEX.HEADER.MENU.DOCUMENTS"></span></a>
            </li>
            <li>
                <a href="#contact">
                    <hexagon-number>9</hexagon-number>
                    <span data-t="INDEX.HEADER.MENU.CONTACT"></span></a>
            </li>
        </ul>
    </aside>
    <header class="fixed">
        <h1><img src="../img/logo.svg" alt="Crypto Mayhem"></h1>
        <nav class="mainMenu">
            <ul>
                <li>
                    <a href="#galacticMission"><span data-t="INDEX.HEADER.MENU.PLAY"></span></a>
                </li>
                <li>
                    <a href="#trailer"><span data-t="INDEX.HEADER.MENU.TRAILER"></span></a>
                </li>
                <li>
                    <a href="#metaverse"><span data-t="INDEX.HEADER.MENU.METAVERSE"></span></a>
                </li>
                <li>
                    <a href="#nft"><span data-t="INDEX.HEADER.MENU.NFT"></span></a>
                </li>
                <li>
                    <a href="#tokenomic"><span data-t="INDEX.HEADER.MENU.TOKENOMIC"></span></a>
                </li>
                <li>
                    <a href="#roadmap"><span data-t="INDEX.HEADER.MENU.ROADMAP"></span></a>
                </li>
                <li>
                    <a href="#team"><span data-t="INDEX.HEADER.MENU.TEAM"></span></a>
                </li>
                <li>
                    <a href="#documents"><span data-t="INDEX.HEADER.MENU.DOCUMENTS"></span></a>
                </li>
                <li>
                    <a href="#contact"><span data-t="INDEX.HEADER.MENU.CONTACT"></span></a>
                </li>
            </ul>
        </nav>
        <div class="header-rest">
            <ul class="langSelection">
                <li id="en">
                    <a href="../en">EN</a>
                </li>
                <li id="pl">
                    <a href="../pl">PL</a>
                </li>
            </ul>
            <cut-button id="buyAdriaOptional" class="disableBuyAdriaButton" data-t="INDEX.HEADER.MENU.BUY_ADRIA_BUTTON"></cut-button>
        </div>
        <div class="hamburger">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </header>
    <section id="galacticMissionStartPreSale" class="galacticMission">
		<div class="radialGradient">
			<span class="subTitle" data-t="INDEX.HEADER.MIDDLE.PRE_SALE_INFO_TITLE"></span>
			<div class="radialGradientWrap">
				<span class="subTitle endDateOther" data-t="INDEX.HEADER.MIDDLE.START_PRE_SALE_INFO_DETAILS_FRONT"></span><span class="subTitle endDate" data-t="INDEX.HEADER.MIDDLE.START_PRE_SALE_INFO_DETAILS_MIDDLE"></span><span class="subTitle endDateOther" data-t="INDEX.HEADER.MIDDLE.PRE_SALE_INFO_DETAILS_END"></span>
			</div>
			<span id="preSealTimerStart" class="mainTitle mainTitle-long"></span>
		</div>
        <cut-button data-attr-t data-attr-t-interpolate href-t="https://play.cryptomayhem.io/" data-t="INDEX.HEADER.MENU.BUY_ADRIA_BUTTON" class="buyAdriaButton"></cut-button>
    </section>
    <section id="galacticMissionEndPresale" class="galacticMission">
		<div class="radialGradient">
			<span class="subTitle" data-t="INDEX.HEADER.MIDDLE.PRE_SALE_INFO_TITLE"></span>
			<div class="radialGradientWrap">
				<span class="subTitle endDate" data-t="INDEX.HEADER.MIDDLE.END_PRE_SALE_INFO_DETAILS_FRONT"></span><span class="subTitle endDateOther" data-t="INDEX.HEADER.MIDDLE.PRE_SALE_INFO_DETAILS_END"></span>
			</div>
			<span id="preSealTimerEnd" class="mainTitle mainTitle-long"></span>
		</div>
        <cut-button data-attr-t data-attr-t-interpolate href-t="https://play.cryptomayhem.io/presale" data-t="INDEX.HEADER.MENU.BUY_ADRIA_BUTTON" class="buyAdriaButton"></cut-button>
    </section>
    <section id="galacticMissionEnd" class="galacticMission">
        <span class="subTitle-galactic-mission" data-t="INDEX.HEADER.MIDDLE.SUB_TITLE"></span>
        <span class="mainTitle-galactic-mission mainTitle-long-galactic-mission" data-t="INDEX.HEADER.MIDDLE.MAIN_TITLE"></span>
        <cut-button data-attr-t data-attr-t-interpolate href-t="https://play.cryptomayhem.io/" data-t="INDEX.HEADER.MENU.PLAY" class="playAdriaButton"></cut-button>
    </section>
    <div id="section-wrapper">
        <div class="groupOfSections">
            <section class="galacticMission-video animate" id="trailer">
                <div class="video-wrapper">
                    <div class="video-container">
                        <iframe class="video-position" src="https://www.youtube.com/embed/TNfrTuSQM9U?autoplay=0&showinfo=0&controls=1&iv_load_policy=3&modestbranding=1&rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope" allowfullscreen></iframe>
                    </div>
                </div>
            </section>
        </div>
        <span class="hideVideo"></span>
        <section class="metaverse animate">
            <div>
                <div class="description">
                    <h2>
                        <span class="mainTitle">Metaverse</span>
                    </h2>
                    <p data-t="INDEX.SECTIONS.METAVERSE.FIRST_TEXT"></p>
                    <p data-t="INDEX.SECTIONS.METAVERSE.SECOND_TEXT"></p>
                    <div class="gif-container">
                        <div class="video-wrapper">
                            <video src="../img/critter2_gif.mp4" loop autoplay muted></video>
                        </div>
                        <div class="video-wrapper">
                            <video src="../img/weapon2_gif.mp4" loop autoplay muted></video>
                        </div>
                        <div class="video-wrapper">
                            <video src="../img/juggernaut_turntable2_gif.mp4" loop autoplay muted></video>
                        </div>
                    </div>
                </div>
                <div class="image-wrapper" id="metaverse">
                    <div class="image">
                        <img src="../img/mech.jpg">
                    </div>
                </div>
            </div>
        </section>
        <section class="galacticMission-opinion animate">
            <div>
                <div class="description">
                    <p><span data-t="INDEX.SECTIONS.GALACTIC_MISSION.OPINION"></span></p>
                    <div class="gif-container">
                        <div class="video-wrapper">
                            <video src="../img/3.mp4" loop autoplay muted></video>
                        </div>
                        <div class="video-wrapper">
                            <video src="../img/2.mp4" loop autoplay muted></video>
                        </div>
                        <div class="video-wrapper">
                            <video src="../img/1.mp4" loop autoplay muted></video>
                        </div>
                    </div>
                </div>
    
                <div class="image-wrapper">
                    <picture class="image">
                        <source type="image/webp" srcset="../img/galacticMissionBg.webp">
                        <source type="image/png" srcset="../img/galacticMissionBg.jpg">
                        <img src="../img/galacticMissionBg.webp">
                    </picture>
                </div>
    
            </div>
        </section>
        <section class="nft animate" id="nft">
            <div>
                <div class="horizontalScroll">
                    <div>
                        <div class="ntf-introduction">
                            <h2><img alt="NFT" src="../img/text/NFT.svg"></h2>
                            <div class="content">
                                <p data-t="INDEX.SECTIONS.NFT.CONTENT.TEXT1"></p>
                                <p data-t="INDEX.SECTIONS.NFT.CONTENT.TEXT2"></p>
                                <p data-t="INDEX.SECTIONS.NFT.CONTENT.TEXT3"></p>
                                <p data-t="INDEX.SECTIONS.NFT.CONTENT.TEXT4"></p>
                                <p data-t="INDEX.SECTIONS.NFT.CONTENT.TEXT5"></p>
                            </div>
                            <div class="endTitles" data-t="INDEX.SECTIONS.NFT.END_TITLES.TEXT"></div>
                        </div>
                        <div class="nft-page">
                            <img class="text" src="../img/text/MECH.svg" alt="MECH">
                            <picture class="image image-mech">
                                <source type="image/webp" srcset="../img/vlad.webp">
                                <source type="image/png" srcset="../img/vlad.png">
                                <img src="../img/vlad.webp">
                            </picture>
                        </div>
    
                        <div class="nft-page drone">
                            <img style="display: none" src="../img/text/DRON.svg">
                            <img style="display: none" src="../img/text/DRONE.svg">
                            <img class="text" data-attr-t data-attr-t-interpolate src-t="img/{{INDEX.SECTIONS.NFT.DRONE}}.svg" alt="DRON">
                            <picture class="image image-dron">
                                <source type="image/webp" srcset="../img/drones1.webp">
                                <source type="image/png" srcset="../img/drones1.png">
                                <img src="../img/drones1.webp">
                            </picture>
    
                        </div>
    
                        <div class="nft-page">
                            <img class="text" src="../img/text/AVATAR.svg" alt="AVATAR">
                            <picture class="image image-avatar">
                                <source type="image/webp" srcset="../img/avatar.webp">
                                <source type="image/png" srcset="../img/avatar.png">
                                <img src="../img/avatar.webp">
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="counters">
                    <div class="introduction-arrow">
                        <hr>
                    </div>
                    <div class="counter">
                        <span>01</span>
                        <hr>
                        <span>03</span>
                    </div>
                    <div class="counter">
                        <span>02</span>
                        <hr>
                        <span>03</span>
                    </div>
                    <div class="counter">
                        <span>03</span>
                        <hr>
                    
                    <span>03</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="getAdria animate">
            <div>
                <div class="content">
                    <h2 data-t="INDEX.SECTIONS.GET_ADRIA.TITLE"></h2>
                    <p data-t="INDEX.SECTIONS.GET_ADRIA.CONTENT"></p>
                    <div class="button-wrapper">
                        <cut-button id="buyAdriaOptionalBottom" class="disableBuyAdriaButton" data-t="INDEX.SECTIONS.GET_ADRIA.BUY_ADRIA_BUTTON"></cut-button>
                    </div>
                    <div class="sub">
                        <div><span data-t="INDEX.SECTIONS.GET_ADRIA.ADRIA_TOKEN_PLACE"></span> <img src="../img/icons/Exchange.svg" class="exchangeMiniLogo"></div>
                        <div><span data-t="INDEX.SECTIONS.GET_ADRIA.POWERED"></span> <span class="icon-binance"></span> BEP20:
    <!--                        <span class="address"></span><span class="icon-copy"></span>-->
                            <span data-t="INDEX.SECTIONS.GET_ADRIA.SOON"></span>
                        </div>
                    </div>
                </div>
                <picture>
                    <source type="image/webp" srcset="../img/token1.webp">
                    <source type="image/png" srcset="../img/token1.png">
                    <img src="../img/token1.png">
                </picture>
            </div>
        </section>
        <span id="tokenomic"></span>
        <section class="supply animate">
            <div>
                <h2>
                    <span data-t="INDEX.SECTIONS.SUPPLY.TOTAL_SUPPLY"></span>
                    <strong>10 000 000 000 ADRIA</strong>
                </h2>
                <div class="graph">
                    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
                    <svg viewBox="0 0 590 590" height="590" width="590">
                      <g transform="translate(40,40)">
                        <mask id="circleMask">
                          <path
                            style="fill:#ffffff;"
                            d="m 70,295 c 0,-123.71178 100.28822,-224 224,-224 123.71178,0 224,100.28822 224,224 0,123.71178 -100.28822,224 -224,224 -123.71178,0 -224,-100.28822 -224,-224 z"
                          />
                        </mask>
                        <mask id="reverseCircleMask">
                          <rect x="0" y="0" width="800" height="800" style="fill:#fff;" />
                          <path
                            style="fill:#000;"
                            class="circle"
                            d="m 70,295 c 0,-123.71178 100.28822,-224 224,-224 123.71178,0 224,100.28822 224,224 0,123.71178 -100.28822,224 -224,224 -123.71178,0 -224,-100.28822 -224,-224 z"
                          />
                        </mask>
                        
                        <foreignobject width="500px" height="500px" y="90px" x="90px">
                          <picture>
                            <img loading="lazy" src="../img/icons/adriaCoinGIF_200x200px.gif" width="200px" height="200px">
                          </picture>
                        </foreignobject>
                      </g>
                      <g mask="url(#reverseCircleMask)">
                          <g transform="matrix(0.090, 0, 0, 0.090, 41, 41)">
                           <path data-supply="1" style="fill:#a1fbb4;" d="M2812 2813l0 -2813c179,0 358,17 533,51l-533 2762z"/>
                           <path data-supply="2" style="fill:#73fb90;" d="M2812 2813l533 -2762c1323,255 2280,1413 2280,2762 0,193 -20,386 -60,576l-2753 -576z"/>
                           <path data-supply="3" style="fill:#01fb37;" d="M2812 2813l2753 576c-24,116 -56,231 -95,343l-2658 -919z"/>
                           <path data-supply="4" style="fill:#1dd944;" d="M2812 2813l2658 919c-38,112 -85,223 -138,329l-2520 -1248z"/>
                           <path data-supply="5" style="fill:#19bf3c;" d="M2812 2813l2520 1248c-132,267 -306,512 -515,724l-2005 -1972z"/>
                           <path data-supply="6" style="fill:#16a634;" d="M2812 2813l2005 1972c-83,85 -173,165 -266,238l-1739 -2210z"/>
                           <path data-supply="7" style="fill:#0f7324;" d="M2812 2813l1739 2210c-234,184 -497,331 -777,432l-962 -2642z"/>
                           <path data-supply="8" style="fill:#0c591c;" d="M2812 2813l962 2642c-308,112 -634,170 -962,170 -268,0 -535,-38 -792,-114l792 -2698z"/>
                           <path data-supply="9" style="fill:#094014;" d="M2812 2813l-792 2698c-575,-169 -1082,-518 -1446,-995l2238 -1703z"/>
                           <path data-supply="10" style="fill:#04260c;" d="M2812 2813l-2238 1703c-363,-477 -564,-1059 -574,-1659l2812 -44z"/>
                           <path data-supply="11" style="fill:#021707;" d="M2812 2813l-2812 44c0,-14 0,-30 0,-44 0,-1554 1259,-2813 2812,-2813l0 2813z"/>
                        </g>
                      </g>
                      
                    </svg>
                </div>
                <ul>
                    <li data-supply="1">
                        <h3>3%</h3>
                        <span class="title" data-t="INDEX.SECTIONS.SUPPLY.PRIVATE_SALE"></span>
                        <div>
                            TGE: 10%<br>
                            <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.UNLOCKED"></span>: 9 <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.MANY_MONTHS"></span> / <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.BLOCK"></span>
                        </div>
                    </li>
                    <li data-supply="2">
                        <h3>25%</h3>
                        <span class="title" data-t="INDEX.SECTIONS.SUPPLY.IDO"></span>
                        <div>
                            TGE: 10%<br>
                            <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.UNLOCKED"></span>: 9 <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.MANY_MONTHS"></span> / <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.BLOCK"></span>
                        </div>
                    </li>
                    <li data-supply="3">
                        <h3>2%</h3>
                        <span class="title" data-t="INDEX.SECTIONS.SUPPLY.INCUBATOR"></span>
                        <div>
                            TGE: 10%<br>
                            <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.UNLOCKED"></span>: 9 <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.MANY_MONTHS"></span> / <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.BLOCK"></span>
                        </div>
                    </li>
                    <li data-supply="4">
                        <h3>2.5%</h3>
                        <span class="title" data-t="INDEX.SECTIONS.SUPPLY.LP_REWARDS"></span>
                        <div>
                            <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.LOCK"></span>: 2 <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.WEEKS"></span><br>
                            <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.UNLOCKED"></span>: 24 <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.TWO_MONTHS"></span> / <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.BLOCK"></span>
                        </div>
                    </li>
                    <li data-supply="5">
                        <h3>5%</h3>
                        <span class="title" data-t="INDEX.SECTIONS.SUPPLY.STAKING"></span>
                        <div>
                            <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.LOCK"></span>: 2 <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.WEEKS"></span><br>
                            <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.UNLOCKED"></span>: 24 <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.TWO_MONTHS"></span> / <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.BLOCK"></span>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li data-supply="6">
                        <h3>2.5%</h3>
                        <span class="title" data-t="INDEX.SECTIONS.SUPPLY.ADVISORS"></span>
                        <div>
                            <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.LOCK"></span>: 12 <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.MANY_MONTHS"></span><br>
                            <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.UNLOCKED"></span>: 36 <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.MANY_MONTHS"></span> / <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.BLOCK"></span>
                        </div>
                    </li>
                    <li data-supply="7">
                        <h3>5%</h3>
                        <span class="title" data-t="INDEX.SECTIONS.SUPPLY.MARKETING"></span>
                        <div>
                            <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.LOCK"></span>: 12 <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.MANY_MONTHS"></span><br>
                            <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.UNLOCKED"></span>: 24 <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.TWO_MONTHS"></span> / <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.BLOCK"></span>
                        </div>
                    </li>
                    <li data-supply="8">
                        <h3>10%</h3>
                        <span class="title" data-t="INDEX.SECTIONS.SUPPLY.EXCHANGES"></span>
                        <div>
                            <span>TGE: 35% *</span> </br>
                            <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.UNLOCKED"></span>: 24 <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.MANY_MONTHS"></span> / <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.BLOCK"></span></br>
                            <span class="small-font" data-t="INDEX.SECTIONS.SUPPLY.SHARED.EXCHANGES_INFO"></span>
                        </div>
                    </li>
                    <li data-supply="9">
                        <h3>10%</h3>
                        <span class="title" data-t="INDEX.SECTIONS.SUPPLY.TEAM"></span>
                        <div>
                            <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.LOCK"></span>: 24 <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.TWO_MONTHS"></span><br>
                            <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.UNLOCKED"></span>: 24 <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.MANY_MONTHS"></span> / <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.BLOCK"></span>
                        </div>
                    </li>
                    <li data-supply="10">
                        <h3>10%</h3>
                        <span class="title" data-t="INDEX.SECTIONS.SUPPLY.RESERVE"></span>
                        <div>
                            <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.LOCK"></span>: 12 <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.MANY_MONTHS"></span><br>
                            <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.UNLOCKED"></span>: 36 <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.MANY_MONTHS"></span> / <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.BLOCK"></span>
                        </div>
                    </li>
                    <li data-supply="11">
                        <h3>25%</h3>
                        <span class="title" data-t="INDEX.SECTIONS.SUPPLY.PLAY_TO_EARN"></span>
                        <div>
                            <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.LOCK"></span>: 1 <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.SINGLE_MONTH"></span><br>
                            <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.UNLOCKED"></span>: 47 <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.MANY_MONTHS"></span> / <span data-t="INDEX.SECTIONS.SUPPLY.SHARED.BLOCK"></span>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="adriaCorporation animate">
            <div>
                <h2>
                    <span data-t="INDEX.SECTIONS.ADRIA_CORPORATION.TITLE"></span>
                </h2>
                <div class="list">
                    <div>
                        <div>
                            <p class="center-img">
                                <img src="../img/icons/StakeAdria.svg">
                            </p>
                            <p>
                                <h3 class="center-topic"><span data-t="INDEX.SECTIONS.ADRIA_CORPORATION.STAKE_ADRIA_TITLE"></span></h3>
                            </p>
                        </div>
                        <p><span data-t="INDEX.SECTIONS.ADRIA_CORPORATION.STAKE_ADRIA_CONTENT"></span></p>
                    </div>
    
                    <div>
                        <div>
                            <p class="center-img">
                                <img src="../img/icons/StakeNFT.svg">
                            </p>
                            <p>
                                <h3 class="center-topic"><span data-t="INDEX.SECTIONS.ADRIA_CORPORATION.STAKE_NFT_TITLE"></span></h3>
                            </p>
                        </div>
                        <p><span data-t="INDEX.SECTIONS.ADRIA_CORPORATION.STAKE_NFT_CONTENT"></span></p>
                    </div>
                    <div>
                        <div>
                            <p class="center-img">
                                <img src="../img/icons/MiniNFT.svg">
                            </p>
                            <p>
                                <h3 class="center-topic"><span data-t="INDEX.SECTIONS.ADRIA_CORPORATION.MINT_NFT_TITLE"></span></h3>
                            </p>
                        </div>
                        <p><span data-t="INDEX.SECTIONS.ADRIA_CORPORATION.MINT_NFT_CONTENT"></span></p>
                    </div>
                    <div>
                        <div>
                            <p class="center-img">
                                <img src="../img/icons/3dTDS.svg">
                            </p>
                            <p>
                                <h3 class="center-topic"><span data-t="INDEX.SECTIONS.ADRIA_CORPORATION.3D_TDS_TITLE"></span></h3>
                            </p>
                        </div>
                        <p><span data-t="INDEX.SECTIONS.ADRIA_CORPORATION.3D_TDS_CONTENT"></span></p>
                    </div>
                    <div>
                        <div>
                            <p class="center-img">
                                <img src="../img/icons/DigitalOwnership.svg">
                            </p>
                            <p>
                                <h3 class="center-topic"><span data-t="INDEX.SECTIONS.ADRIA_CORPORATION.REAL_DIGITAL_TITLE"></span></h3>
                            </p>
                        </div>
                        <p><span data-t="INDEX.SECTIONS.ADRIA_CORPORATION.REAL_DIGITAL_CONTENT"></span></p>
                    </div>
                    <div>
                        <div>
                            <p class="center-img">
                                <img src="../img/icons/Safety.svg">
                            </p>
                            <p>
                                <h3 class="center-topic"><span data-t="INDEX.SECTIONS.ADRIA_CORPORATION.SECURITY_TITLE"></span></h3>
                            </p>
                        </div>
                        <p><span data-t="INDEX.SECTIONS.ADRIA_CORPORATION.SECURITY_CONTENT"></span></p>
                    </div>
                </div>
            </div>
        </section>
        <section class="roadmap animate" id="roadmap">
            <div>
                <h2>
                    <span data-t="INDEX.SECTIONS.ROADMAP.TITLE"></span>
                </h2>
    
                <picture class="drone">
                    <source type="image/webp" srcset="../img/drones2.webp">
                    <source type="image/png" srcset="../img/drones2.png">
                    <img src="../img/drones2.png">
                </picture>
                <div class="list">
                    <div>
                        <span class="leftDetails">
							<h3>Q3</h3>
							<div class="leftDetailsYear">2021</div>
						</span>
                        <ul>
                            <li><span data-t="INDEX.SECTIONS.ROADMAP.CREATION_IDEA"></span></li>
                            <li><span data-t="INDEX.SECTIONS.ROADMAP.COMPANY_STRUCTURE"></span></li>
                            <li><span data-t="INDEX.SECTIONS.ROADMAP.LONG_TERM_VISION"></span></li>
                        </ul>
                        <div class="status status-done"><span data-t="INDEX.SECTIONS.ROADMAP.SHARED.DONE"></span></div>
                    </div>
                    <div>
                        <span class="leftDetails">
							<h3>Q4</h3>
							<div class="leftDetailsYear">2021</div>
						</span>
                        <ul>
                            <li><span data-t="INDEX.SECTIONS.ROADMAP.SOCIAL_MEDIA_LAUNCH"></span></li>
                            <li><span data-t="INDEX.SECTIONS.ROADMAP.GAME_ART_CONCEPTS"></span></li>
                            <li><span data-t="INDEX.SECTIONS.ROADMAP.CORE_IT_TEAM"></span></li>
                            <li><span data-t="INDEX.SECTIONS.ROADMAP.COMCREO_PARTNERSHIP"></span></li>
                            <li><span data-t="INDEX.SECTIONS.ROADMAP.BRAND_IDENTITY"></span></li>
                        </ul>
                        <div class="status status-done"><span data-t="INDEX.SECTIONS.ROADMAP.SHARED.DONE"></span></div>
                    </div>
                    <div>
                        <span class="leftDetails">
							<h3>Q1</h3>
							<div class="leftDetailsYear">2022</div>
						</span>
                        <ul>
                            <li><span data-t="INDEX.SECTIONS.ROADMAP.PARTNERSHIP"></span></li>
                            <li><span data-t="INDEX.SECTIONS.ROADMAP.GDD_ACCEPTED"></span></li>
                            <li><span data-t="INDEX.SECTIONS.ROADMAP.OFFICIAL_WEBSITE"></span></li>
                            <li><span data-t="INDEX.SECTIONS.ROADMAP.ROADMAP"></span></li>
                        </ul>
                        <div class="status status-done"><span data-t="INDEX.SECTIONS.ROADMAP.SHARED.DONE"></span></div>
                    </div>
                    <div>
                        <span class="leftDetails">
							<h3>Q2</h3>
							<div class="leftDetailsYear">2022</div>
						</span>
                        <ul>
                            <li><span data-t="INDEX.SECTIONS.ROADMAP.PGA_LIVE"></span></li>
                            <li><span data-t="INDEX.SECTIONS.ROADMAP.TOKENOMY"></span></li>
                            <li><span data-t="INDEX.SECTIONS.ROADMAP.TRAILER"></span></li>
                            <li><span data-t="INDEX.SECTIONS.ROADMAP.COMPANY_REGISTRATION"></span></li>
                            <li><span data-t="INDEX.SECTIONS.ROADMAP.WHITEPAPER"></span></li>
                        </ul>
                        <div class="status status-done"><span data-t="INDEX.SECTIONS.ROADMAP.SHARED.DONE"></span></div>
                    </div>
                    <div>
                        <span class="leftDetails">
							<h3>Q3</h3>
							<div class="leftDetailsYear">2022</div>
						</span>
                        <ul>
                            <li><span data-t="INDEX.SECTIONS.ROADMAP.WEB_PLAY"></span></li>
                            <li><span data-t="INDEX.SECTIONS.ROADMAP.ADRIA_PRESALE"></span></li>
                            <li><span data-t="INDEX.SECTIONS.ROADMAP.ADRIA_IDO"></span></li>
                            <li><span data-t="INDEX.SECTIONS.ROADMAP.ADRIA_LIQUIDITY"></span></li>
                            <li><span data-t="INDEX.SECTIONS.ROADMAP.ADRIA_EARLY"></span></li>
                        </ul>
                        <div class="status status-inProgress"><span data-t="INDEX.SECTIONS.ROADMAP.SHARED.IN_PROGRESS"></span></div>
                    </div>
                    <div>
                        <span class="leftDetails">
							<h3>Q4</h3>
							<div class="leftDetailsYear">2022</div>
						</span>
                        <ul>
                            <li><span data-t="INDEX.SECTIONS.ROADMAP.PLANET_VIEW"></span></li>
                            <li><span data-t="INDEX.SECTIONS.ROADMAP.NFT_AVATARS"></span></li>
                            <li><span data-t="INDEX.SECTIONS.ROADMAP.ADRIA_CEX"></span></li>
                            <li><span data-t="INDEX.SECTIONS.ROADMAP.NFT_LAND_SALE"></span></li>
                            <li><span data-t="INDEX.SECTIONS.ROADMAP.DISCOVERY_MISSIONS"></span></li>
                            <li><span data-t="INDEX.SECTIONS.ROADMAP.GEOLOGICAL_MISSIONS"></span></li>
                        </ul>
                    </div>
                    <div>
                        <span class="leftDetails">
							<h3>Q1</h3>
							<div class="leftDetailsYear">2023</div>
						</span>
                        <ul>
                            <li><span data-t="INDEX.SECTIONS.ROADMAP.MARKETPLACE"></span></li>
                            <li><span data-t="INDEX.SECTIONS.ROADMAP.MVP_GS"></span></li>
                            <li><span data-t="INDEX.SECTIONS.ROADMAP.BASIC_PLANET"></span></li>
                            <li><span data-t="INDEX.SECTIONS.ROADMAP.MVP_TDS"></span></li>
                        </ul>
                    </div>
                    <div>
                        <span class="leftDetails">
							<h3>Q2</h3>
							<div class="leftDetailsYear">2023</div>
						</span>
                        <ul>
                            <li><span data-t="INDEX.SECTIONS.ROADMAP.NFT_LEGENDARY_MECHS"></span></li>
                            <li><span data-t="INDEX.SECTIONS.ROADMAP.ADRIA_STAKING"></span></li>
                            <li><span data-t="INDEX.SECTIONS.ROADMAP.TDS_MISSIONS"></span></li>
                            <li><span data-t="INDEX.SECTIONS.ROADMAP.TDS_WEAPONS"></span></li>
                        </ul>
                    </div>
                    <div>
                        <span class="leftDetails">
							<h3>Q3</h3>
							<div class="leftDetailsYear">2023</div>
						</span>
                        <ul>
                            <li><span data-t="INDEX.SECTIONS.ROADMAP.NFT_LEGENDARY_WEAPONS"></span></li>
                            <li><span data-t="INDEX.SECTIONS.ROADMAP.TDS_BETA"></span></li>
                        </ul>
                    </div>
                    <div>
                        <span class="leftDetails">
							<h3>Q4</h3>
							<div class="leftDetailsYear">2023</div>
						</span>
                        <ul>
                            <li><span data-t="INDEX.SECTIONS.ROADMAP.ADVANCED_PLANET"></span></li>
                            <li><span data-t="INDEX.SECTIONS.ROADMAP.TDS_PVE"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="team animate" id="team">
            <h2><span data-t="INDEX.SECTIONS.TEAM.TITLE"></span></h2>
            <div class="list-wrapper">
                <div class="list">
                    <div>
                        <img src="../img/team/Andrzej.png">
                        <div class="name">Andrzej Bereźnicki</div>
                        <div class="title">CEO - Mayhem Games, </br>COO, Cryptocurrency Specialist</div>
                        <div class="links">
                            <a href="https://www.linkedin.com/in/andrzej-bere%C5%BAnicki-364bb9209/" class="icon-linkedin"><span>Linkedin</span></a>
                            <a href="https://twitter.com/CeoAndrzej" class="icon-twitter"><span>Twitter</span></a>
                        </div>
                    </div>
                    <div>
                        <img src="../img/team/Pawel.png">
                        <div class="name">Paweł Spionkowski</div>
                        <div class="title">CEO - Adria Games, </br>CTO, Blockchain Developer</div>
                        <div class="links">
                            <a href="https://www.linkedin.com/in/pawe%C5%82-spionkowski-237114194/" class="icon-linkedin"><span>Linkedin</span></a>
                            <a href="https://twitter.com/PSpionkowski" class="icon-twitter"><span>Twitter</span></a>
                        </div>
                    </div>
                    <div>
                        <img src="../img/team/Przemek.png">
                        <div class="name">Przemysław Chabasiński</div>
                        <div class="title">Project Manager, </br>Full stack Developer, </br>Blockchain Developer</div>
                        <div class="links">
                            <a href="https://www.linkedin.com/in/przemys%C5%82aw-chabasi%C5%84ski-mba-a83949164/" class="icon-linkedin"><span>Linkedin</span></a>
                            <a href="https://twitter.com/chabasinskiprze" class="icon-twitter"><span>Twitter</span></a>
                        </div>
                    </div>
                    <div>
                        <img src="../img/team/PawelSyr.png">
                        <div class="name">Paweł Syrowy</div>
                        <div class="title">Partnership Manager</div>
                        <div class="links">
                            <a href="https://www.linkedin.com/in/pawe%C5%82-syrowy-718b01205/" class="icon-linkedin"><span>Linkedin</span></a>
                            <a href="https://twitter.com/PSyrowy" class="icon-twitter"><span>Twitter</span></a>
                        </div>
                    </div>
                    <div>
                        <img src="../img/team/Emilia.png">
                        <div class="name">Emilia Heller-Mrotek</div>
                        <div class="title">Architect Front-end Developer, </br>Blockchain Developer</div>
                        <div class="links">
                            <a href="https://www.linkedin.com/in/emiliaheller/" class="icon-linkedin"><span>Linkedin</span></a>
                        </div>
                    </div>
                    <div>
                        <img src="../img/team/Arian.png">
                        <div class="name">Arian Chyla</div>
                        <div class="title">Product Owner, </br>Media Production Specialist</div>
                    </div>
                    <div>
                        <img src="../img/team/Irek.png">
                        <div class="name">Ireneusz Gronczewski</div>
                        <div class="title">Lead Game Designer</div>
                    </div>
                    <div>
                        <img src="../img/team/Agata.png">
                        <div class="name">Agata Ziemniarska</div>
                        <div class="title">Chief Administration Officer</div>
                    </div>
                    <div>
                        <img src="../img/team/Seba.png">
                        <div class="name">Sebastian Belicki</div>
                        <div class="title">Art Director</div>
                    </div>
                    <div>
                        <img src="../img/team/Krzysztof.png">
                        <div class="name">Krzysztof Bziuk</div>
                        <div class="title">Lead Unity Developer</div>
                    </div>
                    <div>
                        <img src="../img/team/Pavlo.png">
                        <div class="name">Pavlo Yanchuk</div>
                        <div class="title">Unity Developer</div>
                    </div>
                    <div>
                        <img src="../img/team/Filip.png">
                        <div class="name">Filip Motyl</div>
                        <div class="title">Unity Developer</div>
                    </div>
                    <div>
                        <img src="../img/team/Karolina.png">
                        <div class="name">Karolina Saniewska</div>
                        <div class="title">Quality Assurance</div>
                    </div>
                    <div>
                        <img src="../img/team/Wiktoria.png">
                        <div class="name">Wiktoria Marek-Ryś</div>
                        <div class="title">Social Media Specialist</div>
                    </div>
                    <div>
                        <img src="../img/team/Tomek.png">
                        <div class="name">Tomasz Kubacki</div>
                        <div class="title">Concept Artist</div>
                    </div>
                    <div>
                        <img src="../img/team/Kamil.png">
                        <div class="name">Kamil Marzec</div>
                        <div class="title">UX/UI Designer, Artist</div>
                    </div>
                </div>
            </div>
            <div class="slider-wrapper">
                <span data-t="INDEX.SECTIONS.TEAM.MOVE"></span>
                <drag-slider></drag-slider>
            </div>
        </section>
        <section class="behindUs animate">
            <h2><span data-t="INDEX.SECTIONS.BEHIND_US.TITLE"></span></h2>
            <ul>
			    <li><a href="https://www.tenset.io/"><img class="tenset-logo" src="../img/logos/tenset-incubator.svg" alt="Tenset"></a></li>
                <li><a href="https://adriagames.com/"><img src="../img/logos/adriagames.svg" alt="Adria Games"></a></li>
                <li><a href="https://comcreo.com/"><img src="../img/logos/comcreo.svg" alt="Comcreo"></a></li>
                <li><a href="https://adria-art.pl/"><img src="../img/logos/adriaart.png" alt="Adria Art"></a></li>
            </ul>
        </section>
        <section class="discover" id="documents">
            <div class="mouseReactive">
                <h2><span data-t="INDEX.SECTIONS.BEHIND_US.DISCOVER_TITLE"></span></h2>
                <article>
                    <div class="image">
                        <img src="../img/whitepaperBack.svg">
                        <img src="../img/whitepaperFront.svg">
                    </div>
    
                    <h3><span data-t="INDEX.SECTIONS.BEHIND_US.WHITEPAPER_TITLE"></span></h3>
                    <p><span data-t="INDEX.SECTIONS.BEHIND_US.WHITEPAPER_CONTENT"></span></p>
                    <cut-button class="buyAdriaButton" data-attr-t data-attr-t-interpolate data-t="INDEX.SECTIONS.BEHIND_US.BUY_ADRIA_BUTTON" href-t="../documents/whitepaper_{{INDEX.SECTIONS.BEHIND_US.LANGUAGE_TAG}}.pdf"></cut-button>
                </article>
                <article>
                    <div class="image">
                        <img src="../img/pitchdeckBack.svg">
                        <img src="../img/pitchdeckFront.svg">
                    </div>
    
                    <h3><span data-t="INDEX.SECTIONS.BEHIND_US.PITCHDECK_TITLE"></span></h3>
                    <p><span data-t="INDEX.SECTIONS.BEHIND_US.PITCHDECK_CONTENT"></span></p>
                    <cut-button class="buyAdriaButton" data-attr-t data-attr-t-interpolate data-t="INDEX.SECTIONS.BEHIND_US.BUY_ADRIA_BUTTON" href-t="../documents/pitchdeck_{{INDEX.SECTIONS.BEHIND_US.LANGUAGE_TAG}}.pdf"></cut-button>
                </article>
            </div>
        </section>
        <footer id="contact">
            <hr class="joinUs">
            <img src="../img/logo.svg" alt="Crypt0Mayhem" class="logo">
    
            <ul class="socialLinks">
                <li>
                    <a href="https://twitter.com/CryptoMayhem_io" class="icon-twitterlight"><span>Twitter</span></a>
                </li>
                <li>
                    <a href="https://t.me/CryptoMayhemAnnouncement"
                       class="icon-telegramlight"><span>Telegram</br>Announcement</span></a>
                </li>
                <li>
                    <a href="https://t.me/CryptoMayhemOfficial" class="icon-telegramlight"><span>Telegram Chat</span></a>
                </li>
                <li>
                    <a href="https://www.youtube.com/c/AdriaGames" class="icon-ytlight"><span>YouTube</span></a>
                </li>
                <li>
                    <a href="https://discord.gg/XZxXK2aUre" class="icon-discordlight"><span>Discord</span></a>
                </li>
                <li>
                    <a href="https://medium.com/@crypto_mayhem" class="icon-mediumlight"><span>Medium</span></a>
                </li>
            </ul>
            <a href="mailto:info@cryptomayhem.io" class="email">info@cryptomayhem.io</a>
            <div class="finalFooter">
                <div>&copy; 2022 Crypto Mayhem</div>
                <div class="finalFooterCenter">
                    Mayhem Games OÜ<br>
                    Lõõtsa tn 5, 11415<br>
                    Tallinn, Estonia
                </div>
                <div>
                    <!--<a href="privacy-policy" data-t="FOOTER.PRIVACY_POLICY"></a>
                    <a href="terms-and-conditions" data-t="FOOTER.TERMS"></a>
                    <a href="legal-compliance" data-t="FOOTER.LEGAL_INFO"></a>-->
                </div>
            </div>
        </footer>
    </div>

</main>
</body>
</html>