<!DOCTYPE html>
<html data-attr-t lang-t="LANGUAGE">
<head>
    <meta charset="UTF-8">
    <title data-attr-t data-attr-t-interpolate data-t="Crypto Mayhem - {{FOOTER.LEGAL_INFO}}"></title>
    <meta name="description" data-attr-t content-t="SITE_DESCRIPTION">
    <meta name="robots" content="index, follow"> 
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel="icon" type="image/png" href="../img/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<main>
    <aside class="socialLinks">
        <ul>
            <li>
                <a href="https://twitter.com/CryptoMayhem_io" class="icon-twitter"><span data-t="INDEX.HEADER.LEFT_BAR.TWITTER"></span></a>
            </li>
            <li>
                <a href="https://t.me/CryptoMayhemAnnouncement" class="icon-telegram"><span data-t="INDEX.HEADER.LEFT_BAR.TELEGRAM_ANNOUNCEMENT"></span></a>
            </li>
            <li>
                <a href="https://t.me/CryptoMayhemOfficial" class="icon-telegram"><span data-t="INDEX.HEADER.LEFT_BAR.TWITTER_CHAT"></span></a>
            </li>
            <li>
                <a href="https://www.youtube.com/c/AdriaGames" class="icon-yt"><span data-t="INDEX.HEADER.LEFT_BAR.YOUTUBE"></span></a>
            </li>
            <li>
                <a href="https://discord.gg/XZxXK2aUre" class="icon-discord"><span data-t="INDEX.HEADER.LEFT_BAR.DISCORD"></span></a>
            </li>
            <li>
                <a href="https://medium.com/@crypto_mayhem" class="icon-medium"><span data-t="INDEX.HEADER.LEFT_BAR.MEDIUM"></span></a>
            </li>
        </ul>
    </aside>
    <header>
        <h1><img src="../img/logo.svg" alt="Crypto Mayhem"></h1>
        <nav class="mainMenu">
            <ul>
                <li>
                    <a href="./#galacticMission"><span data-t="INDEX.HEADER.MENU.PLAY"></span></a>
                </li>
                <li>
                    <a href="./#trailer"><span data-t="INDEX.HEADER.MENU.TRAILER"></span></a>
                </li>
                <li>
                    <a href="./#metaverse"><span data-t="INDEX.HEADER.MENU.METAVERSE"></span></a>
                </li>
                <li>
                    <a href="./#nft"><span data-t="INDEX.HEADER.MENU.NFT"></span></a>
                </li>
                <li>
                    <a href="./#tokenomic"><span data-t="INDEX.HEADER.MENU.TOKENOMIC"></span></a>
                </li>
                <li>
                    <a href="./#roadmap"><span data-t="INDEX.HEADER.MENU.ROADMAP"></span></a>
                </li>
                <li>
                    <a href="./#team"><span data-t="INDEX.HEADER.MENU.TEAM"></span></a>
                </li>
                <li>
                    <a href="./#documents"><span data-t="INDEX.HEADER.MENU.DOCUMENTS"></span></a>
                </li>
                <li>
                    <a href="./#contact"><span data-t="INDEX.HEADER.MENU.CONTACT"></span></a>
                </li>
            </ul>
        </nav>
        <div class="header-rest">
            <ul class="langSelection">
                <li id="en">
                    <a href="../en/legal-compliance">EN</a>
                </li>
                <li id="pl">
                    <a href="../pl/legal-compliance">PL</a>
                </li>
            </ul>
            <cut-button class="disableBuyAdriaButton" data-t="INDEX.HEADER.MENU.BUY_ADRIA_BUTTON"></cut-button>
        </div>
        <div class="hamburger">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </header>
    <section class="privacyPolicy">
        <h2 data-t="FOOTER.LEGAL_INFO"></h2>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
        <p class="documentation-in-proggress" data-t="IN_PROGRESS"></p>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
    </section>
    <footer id="contact">
        <hr class="joinUs">
        <img src="../img/logo.svg" alt="Crypt0Mayhem" class="logo">

        <ul class="socialLinks">
            <li>
                <a href="https://twitter.com/CryptoMayhem_io" class="icon-twitterlight"><span>Twitter</span></a>
            </li>
            <li>
                <a href="https://t.me/CryptoMayhemAnnouncement"
                   class="icon-telegramlight"><span>Telegram</br>Announcement</span></a>
            </li>
            <li>
                <a href="https://t.me/CryptoMayhemOfficial" class="icon-telegramlight"><span>Telegram Chat</span></a>
            </li>
            <li>
                <a href="https://www.youtube.com/c/AdriaGames" class="icon-ytlight"><span>YouTube</span></a>
            </li>
            <li>
                <a href="https://discord.gg/XZxXK2aUre" class="icon-discordlight"><span>Discord</span></a>
            </li>
            <li>
                <a href="https://medium.com/@crypto_mayhem" class="icon-mediumlight"><span>Medium</span></a>
            </li>
        </ul>
        <a href="mailto:info@cryptomayhem.io" class="email">info@cryptomayhem.io</a>
        <div class="finalFooter">
            <div>&copy; 2022 Crypto Mayhem</div>
            <div class="finalFooterCenter">
				Mayhem Games OÜ<br>
				Lõõtsa tn 5, 11415<br>
				Tallinn, Estonia
            </div>
            <div>
                <a href="privacy-policy" data-t="FOOTER.PRIVACY_POLICY"></a>
                <a href="terms-and-conditions" data-t="FOOTER.TERMS"></a>
                <a href="legal-compliance" data-t="FOOTER.LEGAL_INFO"></a>
            </div>
        </div>
    </footer>
</main>
</body>
</html>