<!DOCTYPE html>
<html data-attr-t lang-t="LANGUAGE">
<head>
    <meta charset="UTF-8">
    <title data-attr-t data-attr-t-interpolate data-t="Crypto Mayhem - {{FOOTER.LEGAL_INFO}}"></title>
    <meta name="description" data-attr-t content-t="SITE_DESCRIPTION">
    <meta name="robots" content="index, follow"> 
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel="icon" type="image/png" href="../img/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<main>
    <aside class="socialLinks">
        <ul>
            <li>
                <a href="https://twitter.com/CryptoMayhem_io" class="icon-twitter"><span data-t="INDEX.HEADER.LEFT_BAR.TWITTER"></span></a>
            </li>
            <li>
                <a href="https://t.me/CryptoMayhemAnnouncement" class="icon-telegram"><span data-t="INDEX.HEADER.LEFT_BAR.TELEGRAM_ANNOUNCEMENT"></span></a>
            </li>
            <li>
                <a href="https://t.me/CryptoMayhemOfficial" class="icon-telegram"><span data-t="INDEX.HEADER.LEFT_BAR.TWITTER_CHAT"></span></a>
            </li>
            <li>
                <a href="https://www.youtube.com/c/AdriaGames" class="icon-yt"><span data-t="INDEX.HEADER.LEFT_BAR.YOUTUBE"></span></a>
            </li>
            <li>
                <a href="https://discord.gg/XZxXK2aUre" class="icon-discord"><span data-t="INDEX.HEADER.LEFT_BAR.DISCORD"></span></a>
            </li>
            <li>
                <a href="https://medium.com/@crypto_mayhem" class="icon-medium"><span data-t="INDEX.HEADER.LEFT_BAR.MEDIUM"></span></a>
            </li>
        </ul>
    </aside>
    <header>
        <h1><img src="../img/logo.svg" alt="Crypto Mayhem"></h1>
        <nav class="mainMenu">
            <ul>
                <li>
                    <a href="./#galacticMission"><span data-t="INDEX.HEADER.MENU.PLAY"></span></a>
                </li>
                <li>
                    <a href="./#trailer"><span data-t="INDEX.HEADER.MENU.TRAILER"></span></a>
                </li>
                <li>
                    <a href="./#metaverse"><span data-t="INDEX.HEADER.MENU.METAVERSE"></span></a>
                </li>
                <li>
                    <a href="./#nft"><span data-t="INDEX.HEADER.MENU.NFT"></span></a>
                </li>
                <li>
                    <a href="./#tokenomic"><span data-t="INDEX.HEADER.MENU.TOKENOMIC"></span></a>
                </li>
                <li>
                    <a href="./#roadmap"><span data-t="INDEX.HEADER.MENU.ROADMAP"></span></a>
                </li>
                <li>
                    <a href="./#team"><span data-t="INDEX.HEADER.MENU.TEAM"></span></a>
                </li>
                <li>
                    <a href="./#documents"><span data-t="INDEX.HEADER.MENU.DOCUMENTS"></span></a>
                </li>
                <li>
                    <a href="./#contact"><span data-t="INDEX.HEADER.MENU.CONTACT"></span></a>
                </li>
            </ul>
        </nav>
        <div class="header-rest">
            <ul class="langSelection">
                <li id="en">
                    <a href="../en/legal-compliance">EN</a>
                </li>
                <li id="pl">
                    <a href="../pl/legal-compliance">PL</a>
                </li>
            </ul>
        </div>
        <div class="hamburger">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </header>
    <section class="privacyPolicy">
        <h2 class="privacyPolicyHeader" data-t="FOOTER.LEGAL_INFO"></h2>
		As a project, Crypto Mayhem operates as a fully legal and officially registered entity in Estonia. ADRIA is a utility token for the project. This smart contract has been fully audited by reputable blockchain analysts to ensure the highest quality and security for investors.</br>
		</br>
		Mayhem Games OÜ, a legal entity, holding registration number 16458563 and address: Harju maakond, Tallinn, Lasnamäe linnaosa, Lõõtsa tn 5, 11415, Estonia.</br>
		</br>
		This document provides a legal opinion on the current and future development of the Crypto Mayhem project. This document is for informational purposes only and is not a statement of future intent, offer or binding agreement.</br>
		</br>
		This document does not constitute or imply a definitive technical specification of Crypto Mayhem. The information presented in this document, technical or otherwise, is intended to outline the general idea of the Crypto Mayhem project and use cases, and is subject to change with or without notice. In the event of the conclusion of a relevant Agreement between Mayhem Games OÜ and a user of the Crypto Mayhem platform or an investor, the relevant provisions of such Agreement and the applicable laws will determine the possibility of amending the mutual obligations of Mayhem Games OÜ and such persons. </br>
		</br>
		The document is not legally binding. No provisions contained herein shall constitute any prospectus or invitation to invest or in any way relates to an offer or solicitation of an offer to purchase any securities in any jurisdiction by any person to purchase ADRIA tokens or any other crypto token or currency and no person has been authorised by the issuer to make any such recommendation.</br>
		</br>
		By participating in this project, the ADRIA token holder should accept security risks and potential financial losses, particularly related to changes in the value of the token in the market, which are beyond the control of Mayhem Games OÜ. The participant should also be aware of the legislation, the uncertainty associated with this type of service.</br>
		</br>
		Nature of the Token</br>
		<div class="privacyPolicyIndentation">
			Mayhem Games OÜ ("Mayhem"), based in Estonia, is the organiser of the Crypto Mayhem project and the ADRIA utility token that incorporates the utility rights related to the project organised by Mayhem ("Token"). Specifically, the project will be based on the creation of a computer game that implements solutions related to blockchain technology (the "Game").</br>
			</br>
			Mayhem, being aware of the financial market regulations and in particular the prospectus requirements, has set itself the goal of shaping the Token's functionality in such a way as to minimise the risk of the Token being recognised as a security, whereby this applies not only to securities in the strict sense, but also to instruments such as derivatives defined as one type of security or financial instrument depending on the jurisdiction. The rights incorporated by the Token are therefore of a utilitarian nature, which gives the Token the nature of a voucher, providing the holder in particular with access to the resources of the platform created by Mayhem. The Token holder will not be entitled to receive dividends derived from the profit related to Mayhem as well as any other dividend-like financial benefits related to Mayhem as well as the project itself based on the Token issue.</br>
			The user will only be able to use the Token to carry out transactions in the Game environment. Such transactions will only involve the purchase or sale of items available in the Game environment, which the player (Token holder) will be able to use to conduct a gameplay.</br>
			</br>
			The Token holder will also not be entitled to vote at the shareholders' meeting of Mayhem as well as to manage the company or otherwise influence the company. In particular, they will not have the right to decide on the approval of the management report on the company's activities as well as the financial statements for the financial year, on the disposal and lease of the company or its organised part as well as on the acquisition or disposal of real estate by the company or on decisions relating to the acquisition or disposal of securities by the company.</br>
			</br>
			The Token holder will be entitled to participate in votes specific to utility tokens. Indeed, its entitlements shall be limited to:</br>
			<p>1)	making decisions in the scope of: creating a game (during the development process),</p>
			<p>2)	to decide on the internal environment of the game by participating in votes on the game's balance and being able to submit their own proposals for changes to the game, which will then be reviewed by Mayhem.</p>
			</br>
			In the case of the entitlement described in par. 2 above, the Token holder will be entitled to make decisions about certain internal gameplay mechanisms. Mayhem will allow Token holders to take part in votes on issues such as the strength and speed of individual characters in the Game or the amount of raw materials required to produce a specific item. Mayhem will be organising such votes and overseeing their progress.</br>
			Changes that can be proposed by the player himself will be reviewed by Mayhem, which means that the token holder will not have the final say on whether a certain issue can be put to a vote.</br>
			</br>
			What should be emphasised, therefore, is that it will mainly be left to the Token holder to decide on gameplay parameters (balance). By contrast, the Token holder will not be able to co-determine key issues related to the running of a Token-based project such as the ability to terminate the project, change the nature of the gameplay (such as abandoning the Top-Down Shooter game mode), allocate additional funds to the development of the project, or change the functionality of the Token. Incorporated voting powers are commonly regarded in legal doctrine as powers specific to utility tokens. Indeed, this is the case with voting related to the internal functionality of the product in question, as opposed to the voting power inherent in investment tokens, which give the possibility to co-determine the company of the token issuer.</br>
			</br>
			The main benefit for the Token holder is related to the access to the Mayhem platform itself, which allows the Token holder to enjoy participating in the game. All the powers incorporated in the Token described in the Whitepaper have therefore been designed in such a way as to make them typically usable.</br>
			</br>
		</div>


		Lack of protection specific to purchasers of securities</br>
		<div>
			As the Token is of functional nature and does not constitute a security, the purchaser of the Token is not entitled to the protections applicable to purchasers of securities. However, a Token purchaser who is an individual is protected by the relevant legislation as a consumer entering into a contract with a trader.</br>
		</div>
		</br>
		Purpose of the Token</br>
		<div class="privacyPolicyIndentation">
			The token was designed to enhance the appeal of the Game created by Mayhem. Mayhem only provides Token holders with access to the platform and the ability to use other utility functions. Mayhem does not operate an exchange or other service provider to exchange cryptocurrencies (including Token) for other cryptocurrencies or fiat currencies, nor does it provide cryptocurrency wallet services. All the more so, therefore, the Token holder has no right to expect the Token to be listed on a cryptocurrency exchange. Mayhem therefore does not encourage the acquisition of Tokens through the above-mentioned entities or the use of Tokens for any purpose other than access to the functionalities provided by the Mayhem platform. Mayhem does not encourage Token purchasers to use the Token for investment or speculative purposes.</br>
		</div>
		</br>
		Whitepaper character</br>
		<div class="privacyPolicyIndentation">
			Due to the utilitarian nature of the Token and the lack of coverage of its issuance by financial market regulation, it should be noted that the Whitepaper:</br>
			<p>1)	does not constitute a prospectus or similar document,</p>
			<p>2)	is not intended to encourage investment in securities or a collective investment undertaking,</p>
			<p>3)	does not constitute or can in any way be associated with an offer to purchase securities,</p>
			<p>4)	cannot be considered in terms of a document that purports to provide investment advice,</p>
			<p>5)	is a document for information and marketing purposes only.</p>
		</div>
		</br>
		Applicable Law</br>
		<div class="privacyPolicyIndentation">
			The organiser is a company operating under the laws of the Republic of Estonia.</Br>
		</div>
		</Br>
		1. Risks involved in acquiring a Token</Br>
		</Br>
		Regulatory Risk</Br>
		<div class="privacyPolicyIndentation">
			The introduction of changes to current legislation may affect the shape and scope of the project and the possibility of using the Token. In particular, legal changes may relate to the need for Mayhem to obtain an appropriate licence in connection with the operation of the Crypto Mayhem project and Token, which may affect the rules for Token distribution and have an impact on Token trading on the secondary market. A change in legal regulations and the taking of an official position of the relevant supervisory authorities regarding the legal qualification of virtual currencies may directly or indirectly affect the economic situation of holders and the value of the token.</br>
		</div>
		</Br>
		Technical Risk / Theft</br>
		<div class="privacyPolicyIndentation">
		Blockchain technology comes with the possibility of technical issues. Once a Token has been acquired, the Token holder may be at risk of losing the Token due to technical problems that may occur in connection with its storage on a particular cryptocurrency wallet or when transactions are made using the Token, including through cryptocurrency exchanges. When storing a token on a cryptocurrency wallet or in the course of a transaction, the Token holder is exposed to the risk of the Token being stolen by third parties. Due to technical problems, the Token may also be lost by the Token holder without the involvement of third parties.</br>
		</div>
		</br>
		Risk of Token Value Change</br>
		<div class="privacyPolicyIndentation">
		However, Mayhem does not affect the value of the Token it can achieve in the market, particularly on cryptocurrency exchanges. Virtual currencies and other tokens are characterised by high volatility of value. Consequently, a Token holder who will make transactions using the Token is at risk of losing funds. In particular, the Token holder should be aware that the value of the Token may fall sharply. For these reasons, Mayhem does not recommend the use of the Token for purposes other than accessing the functionalities offered by Mayhem.</br>
		</div>
		</br>
		Tax Risks</br>
		<div class="privacyPolicyIndentation">
		The tax characteristics of the token are unclear. Therefore, it is not possible to fully predict how the competent authorities will make the tax qualification of the token in accordance with the applicable legislation. All individuals who wish to obtain tokens should seek independent tax advice before deciding to acquire a token. Mayhem makes no representations regarding the possible tax consequences of purchasing or owning a token.</br>
		</div>
		</br>
		2. NFT Tokens</br>
		</br>
		An important element of the project is the use of NFT (non-fungible token) tokens in the Game, which allow specific items in the world to be marked as unique and identified as being assigned to a specific player/Token holder. Players will only be able to acquire and dispose of NFT tokens in the platform environment on behalf of other players/users. NFT tokens will not be an in-game currency, but rather a object of trade or use. Their sole purpose will be to be able to verify which player an item belongs to in the game. Through this, there are no grounds for NFT tokens to be considered as securities or virtual currencies under current legislation, in Mayhem's view, which would affect the application of relevant financial market-related regulations or anti-money laundering and counter-terrorist financing regulations.</br>
		</br>
		3. The organiser cannot be held responsible for any of the following circumstances:</br>
		</br>
		<p>- Use of the service contrary to the applicable conditions</p>
		<p>- Error, failure, malicious activity by user, service controlled by third party</p>
		<p>- Any direct or indirect damage that may occur during the operation and its consequences: loss of cryptocurrency, financial gains or losses or other damage of this nature</p>
		<p>- Loss of control for any reason over (loss, hacking, unwanted disclosure or technical failure) user login data that may lead to unlawful use of such data, which Mayhem cannot prevent and is not obliged to prevent in accordance with applicable law,</p>
		<p>- Temporary or permanent suspension of the service, for any reason, in particular at the request of public authorities, the judiciary or a third party</p>
		<p>- Computer failure resulting in data loss</p>
		</br>
		The user who acquires the token, due to technological and economic uncertainty related to the implementation of the blockchain technology project, should be aware of the lack of legal liability of Mayhem and the possibility of submitting claims against Mayhem and others, even in the event of a total loss of the value of the token and the lack of implementation of the user's intentions related to the trading of the token on the secondary market.</Br></Br>
		The purchase of a token allows the use of Mayhem and third-party services created.</Br></Br>
		No other rights are transferred to token holders. More specifically, it is the company's sole responsibility to create the Crypto Mayhem project and token within the terms of the whitepaper.</Br>

    </section>
    <footer id="contact">
        <hr class="joinUs">
        <img src="../img/logo.svg" alt="Crypt0Mayhem" class="logo">

        <ul class="socialLinks">
            <li>
                <a href="https://twitter.com/CryptoMayhem_io" class="icon-twitterlight"><span>Twitter</span></a>
            </li>
            <li>
                <a href="https://t.me/CryptoMayhemAnnouncement"
                   class="icon-telegramlight"><span>Telegram</br>Announcement</span></a>
            </li>
            <li>
                <a href="https://t.me/CryptoMayhemOfficial" class="icon-telegramlight"><span>Telegram Chat</span></a>
            </li>
            <li>
                <a href="https://www.youtube.com/c/AdriaGames" class="icon-ytlight"><span>YouTube</span></a>
            </li>
            <li>
                <a href="https://discord.gg/XZxXK2aUre" class="icon-discordlight"><span>Discord</span></a>
            </li>
            <li>
                <a href="https://medium.com/@crypto_mayhem" class="icon-mediumlight"><span>Medium</span></a>
            </li>
        </ul>
        <a href="mailto:info@cryptomayhem.io" class="email">info@cryptomayhem.io</a>
        <div class="finalFooter">
            <div>&copy; 2022 Crypto Mayhem</div>
            <div class="finalFooterCenter">
				Mayhem Games OÜ<br>
				Lõõtsa tn 5, 11415<br>
				Tallinn, Estonia
            </div>
            <div>
                <a href="privacy-policy" data-t="FOOTER.PRIVACY_POLICY"></a>
                <a href="terms-and-conditions" data-t="FOOTER.TERMS"></a>
                <a href="legal-compliance" data-t="FOOTER.LEGAL_INFO"></a>
            </div>
        </div>
    </footer>
</main>
</body>
</html>