<!DOCTYPE html>
<html data-attr-t lang-t="LANGUAGE">
<head>
    <meta charset="UTF-8">
    <title data-attr-t data-attr-t-interpolate data-t="Crypto Mayhem - {{FOOTER.PRIVACY_POLICY}}"></title>
    <meta name="description" data-attr-t content-t="SITE_DESCRIPTION">
    <meta name="robots" content="index, follow"> 
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel="icon" type="image/png" href="../img/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<main>
    <aside class="socialLinks">
        <ul>
            <li>
                <a href="https://twitter.com/CryptoMayhem_io" class="icon-twitter"><span data-t="INDEX.HEADER.LEFT_BAR.TWITTER"></span></a>
            </li>
            <li>
                <a href="https://t.me/CryptoMayhemAnnouncement" class="icon-telegram"><span data-t="INDEX.HEADER.LEFT_BAR.TELEGRAM_ANNOUNCEMENT"></span></a>
            </li>
            <li>
                <a href="https://t.me/CryptoMayhemOfficial" class="icon-telegram"><span data-t="INDEX.HEADER.LEFT_BAR.TWITTER_CHAT"></span></a>
            </li>
            <li>
                <a href="https://www.youtube.com/c/AdriaGames" class="icon-yt"><span data-t="INDEX.HEADER.LEFT_BAR.YOUTUBE"></span></a>
            </li>
            <li>
                <a href="https://discord.gg/XZxXK2aUre" class="icon-discord"><span data-t="INDEX.HEADER.LEFT_BAR.DISCORD"></span></a>
            </li>
            <li>
                <a href="https://medium.com/@crypto_mayhem" class="icon-medium"><span data-t="INDEX.HEADER.LEFT_BAR.MEDIUM"></span></a>
            </li>
        </ul>
    </aside>
    <header>
        <h1><img src="../img/logo.svg" alt="Crypto Mayhem"></h1>
        <nav class="mainMenu">
            <ul>
                <li>
                    <a href="./#galacticMission"><span data-t="INDEX.HEADER.MENU.PLAY"></span></a>
                </li>
                <li>
                    <a href="./#trailer"><span data-t="INDEX.HEADER.MENU.TRAILER"></span></a>
                </li>
                <li>
                    <a href="./#metaverse"><span data-t="INDEX.HEADER.MENU.METAVERSE"></span></a>
                </li>
                <li>
                    <a href="./#nft"><span data-t="INDEX.HEADER.MENU.NFT"></span></a>
                </li>
                <li>
                    <a href="./#tokenomic"><span data-t="INDEX.HEADER.MENU.TOKENOMIC"></span></a>
                </li>
                <li>
                    <a href="./#roadmap"><span data-t="INDEX.HEADER.MENU.ROADMAP"></span></a>
                </li>
                <li>
                    <a href="./#team"><span data-t="INDEX.HEADER.MENU.TEAM"></span></a>
                </li>
                <li>
                    <a href="./#documents"><span data-t="INDEX.HEADER.MENU.DOCUMENTS"></span></a>
                </li>
                <li>
                    <a href="./#contact"><span data-t="INDEX.HEADER.MENU.CONTACT"></span></a>
                </li>
            </ul>
        </nav>
        <div class="header-rest">
            <ul class="langSelection">
                <li id="en">
                    <a href="../en/privacy-policy">EN</a>
                </li>
                <li id="pl">
                    <a href="../pl/privacy-policy">PL</a>
                </li>
            </ul>
        </div>
        <div class="hamburger">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </header>
    <section class="privacyPolicy">
        <h2 class="privacyPolicyHeader" data-t="FOOTER.PRIVACY_POLICY"></h2>
		
This page is used to inform website visitors regarding our policies with the collection, use, and disclosure of Personal Information if anyone decided to use our Service.</br></br>
If you choose to use our Service, then you agree to the collection and use of information in relation to this policy. The Personal Information that we collect is used for providing and improving the Service. We will not use or share your information with anyone except as described in this Privacy Policy.</br></br>
The terms used in this Privacy Policy have the same meanings as in our <a href="terms-and-conditions"> Terms and Conditions </a>, unless otherwise defined in this Privacy Policy.
<br><br></br>
1.	INFORMATION COLLECTION AND USE<br>
<p>1.1.	For a better experience, while using our Service, we may require you to provide us with certain personally identifiable information. The information that we request will be retained by us and used as described in this Privacy policy.</p>
<p>1.2.	We do use third party services that may collect information used to identify you.</p>
<br>
2.	LOG DATA<br>
<p>2.1.	We want to inform you that whenever you use our Service, we collect data and information “Log Data”. Log Data may include information such as your device Internet Protocol (“IP”) address, device name, operating system version, the configuration of the app when utilizing our Service, the time and date of your use of the Service, and other statistics.</p>
<br>
3.	SERVICE PROVIDERS<br>
<p>3.1.	We may employ third-party companies and individuals due to the following reasons: (1) to facilitate our Services; (2) to provide the Services; (3) to perform Service-related services; or (4) to assist us in analysing how our Services are used.</p>
<p>3.2.	We want to inform the Users that these third parties have access to your Personal Information. The reason is to perform the tasks assigned to them on our behalf. However, they are obligated not to disclose or use the information for any other purpose.</p>
<br>
4.	SOCIAL MEDIA<br>
<p>4.1.	We are active on social media. When you interact with us on these media, you are making information available to us and the social media, e.g. when you respond to our postings, comment on or share them, just like we process information that you ‘like’ Mayhem or follow us on the social media.</p>
<p>4.2.	In addition, ordinary information is processed about you in the form of, for example, identification information, contact information, your profile photo, etc.</p>
<p>4.3.	Furthermore, we will in some cases share, for example, a piece of news in which your identification information (name) is included. In these cases, we always request your prior consent. You can always withdraw your consent by contacting us via the below contact information. The purpose of the processing is branding and marketing of Mayhem.</p>
<p>4.4.	The legal basis for the processing is our legitimate interests in marketing us on social media and knowledge sharing in the form of sharing of articles, etc. (see Article 6(1)(f) of the GDPR.)</p>
<p>4.5.	Information on social media is deleted when we delete a posting or when you delete your comment, share, reaction or indication that you ‘like’ or follow us.</p>
<br>
5.	SECURITY<br>
<p>5.1.	We value your trust in providing us your Personal Information, thus we are striving to use commercially acceptable means of protecting it. But remember that no method of transmission over the internet, or method of electronic storage is 100% secure and reliable, and we cannot guarantee its absolute security.</p>
<br>
6.	LINKS TO OTHER SITES<br>
<p>6.1.	The Platform may contain links to other sites. If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by us. Therefore, we strongly advise you to review the Privacy Policy of these websites. We have no control over and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.</p>
<br>
7.	CHILDREN’S PRIVACY<br>
<p>7.1.	The Services do not address anyone under the age of 13. We do not knowingly collect personally identifiable information from children under 13. In the case we discover that a child under 13 has provided us with personal information, we immediately delete this from our servers. If you are a parent or guardian and you are aware that your child has provided us with personal information, please contact us so that we will be able to do necessary actions.</p>
<br>
8.	YOUR RIGHTS<br>
<p>8.1.	As a data subject, you have certain rights according to the GDPR when your personal data are being processed. Below is a specification of your rights when we process personal data about you.</p>
<p>8.2.	If you want to exercise one or more of your rights as a data subject, you must contact us in writing via the email address indicated below. Please state your full name and your e-mail address. You may be requested to provide further identification.</p>
<p>8.3.	In general, you can exercise your rights at any time. However, exercising your rights must not affect the rights and freedoms of others and in such an event, we may therefore refuse to comply with your rights wholly or in part.</p>
<p>8.4.	Right of access. As a data subject, you have the right to obtain access to your personal data being processed by Mayhem. By contacting Mayhem, you can obtain information about the categories of personal data that we as a data controller are processing about you, the purpose of the processing, the recipients to whom the personal data have been disclosed, etc. If you request further copies of the personal data undergoing processing, we may charge a fee. If the inquiry is manifestly unfounded or excessive, we may either charge a fee for providing the information or reject your request.</p>
<p>8.5.	Right to rectification. You have the right to obtain rectification of your personal data if these are inaccurate or misleading. If we do not agree that the data are inaccurate, however, we are not obliged to correct them, but to add that you as a data subject do not think that the data are correct.</p>
<p>8.6.	Right to erasure. In certain cases, you have the right to obtain erasure of your personal data if Mayhem no longer has a purpose in processing your personal data or you object to the processing of your personal data for the purposes of direct marketing or pursuant to Article 6(1)(f) of the GDPR. If Mayhem can demonstrate overriding legitimate grounds for the processing that override your interests, rights and freedoms, or the processing is necessary for a legal claim to be established, exercised or defended, however, Mayhem is not obliged to erase your personal data.</p>
<p>8.7.	Right to restriction of processing. In certain cases, you have the right to obtain restriction of processing of your personal data, e.g. if you contest the accuracy of the personal data collected about you or if you have objected to the processing of your personal data based on legitimate interests pursuant to Article 6(1)(f) of the GDPR. In such an event, Mayhem will only store your personal data until your objection has been considered. If we lift the restriction of our processing of your personal data, you will be notified in advance.</p>
<p>8.8.	Right to object. On grounds relating to your particular situation, you have the right to object to Mayhem’s processing of your personal data, if the processing is based on legitimate interests, see Article 6(1)(f) of the GDPR. If you object to Mayhem’s processing of your personal data, we are no longer entitled to process your personal data, unless we can demonstrate overriding legitimate grounds for the continued processing that override your interests, rights or freedoms, or the processing is necessary for a legal claim to be established, exercised or defended. You always have the right to object to the processing of your personal data if the processing takes place for the purposes of direct marketing.</p>
<p>8.9.	Right to data portability. In certain cases, you have the right to receive your personal data in a structured, commonly used and machine-readable format and to have those data transmitted from one data controller to another data controller. This right applies only when the processing of your personal data is based on a contract pursuant to Article 6(1)(b) of the GDPR or your consent, see Article 6(1)(a) of the GDPR.</p>
<p>8.10.	Right not to be subject to a decision based solely on automated processing, including profiling. Your personal data are not subject to decisions based solely on automated processing, including profiling.</p>
<p>8.11.	Right to withdraw your consent. To the extent that we process your personal data based on your consent, you can always withdraw your consent to any future processing. You can withdraw your consent by sending an email to info@cryptomayhem.io.</p>
<p>8.12.	Lodge a complaint with a supervisory authority. As a data subject, you can lodge a complaint with Mayhem as a data controller if you are not satisfied with the way that we process your personal data. You can lodge a complain by email at info@cryptomayhem.io. You can always lodge a complaint with the Data Protection Authority of your country of residence.</p>
<br>
9.	CHANGES TO THIS PRIVACY POLICY
<p>9.1.	We may update our Privacy Policy from time to time. Thus, you are advised to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately after they are posted on this page.</p>
<br>
10.	CONTACT US<br>
<p>10.1.	If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us at info@cryptomayhem.io.</p>

    </section>
    <footer id="contact">
        <hr class="joinUs">
        <img src="../img/logo.svg" alt="Crypt0Mayhem" class="logo">

        <ul class="socialLinks">
            <li>
                <a href="https://twitter.com/CryptoMayhem_io" class="icon-twitterlight"><span>Twitter</span></a>
            </li>
            <li>
                <a href="https://t.me/CryptoMayhemAnnouncement"
                   class="icon-telegramlight"><span>Telegram</br>Announcement</span></a>
            </li>
            <li>
                <a href="https://t.me/CryptoMayhemOfficial" class="icon-telegramlight"><span>Telegram Chat</span></a>
            </li>
            <li>
                <a href="https://www.youtube.com/c/AdriaGames" class="icon-ytlight"><span>YouTube</span></a>
            </li>
            <li>
                <a href="https://discord.gg/XZxXK2aUre" class="icon-discordlight"><span>Discord</span></a>
            </li>
            <li>
                <a href="https://medium.com/@crypto_mayhem" class="icon-mediumlight"><span>Medium</span></a>
            </li>
        </ul>
        <a href="mailto:info@cryptomayhem.io" class="email">info@cryptomayhem.io</a>
        <div class="finalFooter">
            <div>&copy; 2022 Crypto Mayhem</div>
            <div class="finalFooterCenter">
				Mayhem Games OÜ<br>
				Lõõtsa tn 5, 11415<br>
				Tallinn, Estonia
            </div>
            <div>
                <a href="privacy-policy" data-t="FOOTER.PRIVACY_POLICY"></a>
                <a href="terms-and-conditions" data-t="FOOTER.TERMS"></a>
            </div>
        </div>
    </footer>
</main>
</body>
</html>