<!DOCTYPE html>
<html data-attr-t lang-t="LANGUAGE">
<head>
    <meta charset="UTF-8">
    <title data-attr-t data-attr-t-interpolate data-t="Crypto Mayhem - {{FOOTER.TERMS}}"></title>
    <meta name="description" data-attr-t content-t="SITE_DESCRIPTION">
    <meta name="robots" content="index, follow"> 
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel="icon" type="image/png" href="../img/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<main>
    <aside class="socialLinks">
        <ul>
            <li>
                <a href="https://twitter.com/CryptoMayhem_io" class="icon-twitter"><span data-t="INDEX.HEADER.LEFT_BAR.TWITTER"></span></a>
            </li>
            <li>
                <a href="https://t.me/CryptoMayhemAnnouncement" class="icon-telegram"><span data-t="INDEX.HEADER.LEFT_BAR.TELEGRAM_ANNOUNCEMENT"></span></a>
            </li>
            <li>
                <a href="https://t.me/CryptoMayhemOfficial" class="icon-telegram"><span data-t="INDEX.HEADER.LEFT_BAR.TWITTER_CHAT"></span></a>
            </li>
            <li>
                <a href="https://www.youtube.com/c/AdriaGames" class="icon-yt"><span data-t="INDEX.HEADER.LEFT_BAR.YOUTUBE"></span></a>
            </li>
            <li>
                <a href="https://discord.gg/XZxXK2aUre" class="icon-discord"><span data-t="INDEX.HEADER.LEFT_BAR.DISCORD"></span></a>
            </li>
            <li>
                <a href="https://medium.com/@crypto_mayhem" class="icon-medium"><span data-t="INDEX.HEADER.LEFT_BAR.MEDIUM"></span></a>
            </li>
        </ul>
    </aside>
    <header>
        <h1><img src="../img/logo.svg" alt="Crypto Mayhem"></h1>
        <nav class="mainMenu">
            <ul>
                <li>
                    <a href="./#galacticMission"><span data-t="INDEX.HEADER.MENU.PLAY"></span></a>
                </li>
                <li>
                    <a href="./#trailer"><span data-t="INDEX.HEADER.MENU.TRAILER"></span></a>
                </li>
                <li>
                    <a href="./#metaverse"><span data-t="INDEX.HEADER.MENU.METAVERSE"></span></a>
                </li>
                <li>
                    <a href="./#nft"><span data-t="INDEX.HEADER.MENU.NFT"></span></a>
                </li>
                <li>
                    <a href="./#tokenomic"><span data-t="INDEX.HEADER.MENU.TOKENOMIC"></span></a>
                </li>
                <li>
                    <a href="./#roadmap"><span data-t="INDEX.HEADER.MENU.ROADMAP"></span></a>
                </li>
                <li>
                    <a href="./#team"><span data-t="INDEX.HEADER.MENU.TEAM"></span></a>
                </li>
                <li>
                    <a href="./#documents"><span data-t="INDEX.HEADER.MENU.DOCUMENTS"></span></a>
                </li>
                <li>
                    <a href="./#contact"><span data-t="INDEX.HEADER.MENU.CONTACT"></span></a>
                </li>
            </ul>
        </nav>
        <div class="header-rest">
            <ul class="langSelection">
                <li id="en">
                    <a href="../en/terms-and-conditions">EN</a>
                </li>
                <li id="pl">
                    <a href="../pl/terms-and-conditions">PL</a>
                </li>
            </ul>
        </div>
        <div class="hamburger">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </header>
    <section class="privacyPolicy">
        <h2 class="privacyPolicyHeader" data-t="FOOTER.TERMS"></h2>
Welcome to cryptomayhem.io (“Website”), the world’s first gaming ecosystem ever to combine Grand Strategy with a Top-Down Shooter.</br></br>
The Website is provided by Mayhem Games OÜ (“Mayhem Games”). Mayhem Games is a company established in Estonia, under the registry code 16458563. Mayhem Games referred to as “Mayhem”.</br></br>
Your use of the Product is subject to your acceptance without modification of these Terms of Service and all other operating rules, guidelines, instructions, policies (including the Privacy Policy) and any future modifications thereto (collectively, “Terms”).</br></br>
When accepted by you, the Terms form a legally binding agreement (“Agreement”) between you and Mayhem. If you do not agree to be bound by the Terms, then please do not access, browse or otherwise use the Product.</br></br>
Please note that Mayhem Games is not financial institution or financial advisor, neither they provide any financial or investment services. The purpose of the Product is solely to offer a gaming ecosystem.</br></br>
Please be aware that by accepting these Terms you are also accepting the terms and conditions of third parties that offer services connected with the Product (including, but not limited to, payment service providers).
</br></br></br>
1.	DEFINITIONS
<p>1.1.	“Member”: a natural person who has registered a user account on the Platform and been accepted as a Member by Mayhem;</p>
<p>1.2.	"Website" is operated by Mayhem at the Internet address https://cryptomayhem.io;</p>
<p>1.3.	“Platform”: an e-service environment managed by ILM company at the Internet address https://play.cryptomayhem.io;</p>
<p>1.4.	“Product” it's a combination Website and Platform into one</p>
<p>1.5.	“Privacy Policy”: the policy available at <a href="privacy-policy">Privacy Policy </a>, that explains how Mayhem gathers, uses and discloses personal data, and the steps Mayhem takes to protect such personal data;</p>
<p>1.6.	“Services” - the services available via the Platform;</p>
<p>1.7.	“User Content”: any content, videos, audio clips, written comments, data, texts, photographs, software, scripts, graphics and other information and materials submitted to the Platform by You;</p>
<p>1.8.	“You” / “User” - a natural person using the Platform representing her-/himself.</p>
<p>1.9.	Digital Asset - Referred to as in-game digital items. In-game world currency - token, is also considered a digital asset, which is used as a central medium of exchange between digital in-game items and base units (resources).</p>
<br>
2.	GENERAL
<p>2.1.	Subject to approval by Mayhem and subject to your consent to these Terms, you will become a Member when creating a user account at the Platform.</p>
<p>2.2.	Only Members can use the Services. Mayhem reserves the right to deny its Services to any current or prospective Members at its own discretion.</p>
<p>2.3.	You may only create a user account and become a Member if you are not barred from receiving the Services under the laws of Estonia or any other countries including the country in which you are a resident or from which you use the Services.</p>
<p>2.4.	By giving your approval to these Terms (including the Privacy Policy), you enter into a legally binding agreement with Mayhem on these Terms. If you do not agree to the Terms or any changes thereto, you are prohibited from using the Platform and the Services.</p>
<p>2.5.	Mayhem reserves the right to make changes to this Agreement at any time without prior notification to the parties. Your continued use of the Platform and the related Services means that You accept unconditionally all and any amendments made to this Agreement at any time. If You do not agree to the Agreement or any amendments to it, then the use of the Platform and the related Services is forbidden for You. We recommend that You print or save the version of the Terms You agree to when registering to the Platform for Your records.</p>
<p>2.6.	You acknowledge that Mayhem may need to comply with measures against money laundering and terrorist financing by which Mayhem may, for example, be obligated to undertake certain know your customer (“KYC”) activities and/or anti-money laundering (“AML”) checks, including collecting certain personal data from you, which will be done inter alia when registering the user account with Mayhem. Upon Mayhem’s request, you shall be required to provide Mayhem information and documents that Mayhem, in its sole discretion, deems necessary or appropriate to conduct KYC and/or AML checks.</p>
<br>
3.	USER ACCOUNT AND PASSWORD
<p>3.1.	Some pages of this Platform are open to all users and may be browsed by any visitor. However, in order to become a Member and use the Services, you have to create a user account in accordance with the instructions set forth on the Platform and which must be approved by Mayhem.</p>
<p>3.2.	The password you choose must provide adequate protection to your account.</p>
<p>3.3.	When the user account has been approved by Mayhem, you will become a Member. </p>
<p>3.4.	Once You have created a user account and signed in, you may be asked to submit additional information about yourself to help Mayhem tailor the information shown on the Platform.</p>
<p>3.5.	You agree and warrant that you will not disclose (wilfully or by negligence) credentials of your user account to any third party or otherwise allow any third party to use your user account. If you have a reason to believe that a third party has gained access to your user account, you must immediately inform Mayhem. Please note that you will be responsible for all activities made by the use of your user account.</p>
<br>
4.	IDENTIFICATION AND REPRESENTATION
<p>4.1.	Mayhem has a rule of no misrepresentation. Please be honest and forthright about yourself. Members are encouraged to report any communications that they consider to be misleading or any Members that appear to be misrepresenting themselves.</p>
<p>4.2.	Mayhem may require you to provide identification of yourself when registering at the Platform.</p>
<br>
5.	THE SERVICES
<p>5.1.	The Services are provided via the Platform.</p>
<p>5.2.	Member have access to the Platform, whose features are summarised in Mayhem’s whitepaper and pitch deck. You will find Mayhem’s whitepaper and pitch deck in the Website in the documentation section.</p>
<p>5.3.	You agree to use the Services only for the purposes that are permitted by the Terms and any applicable laws, regulations or generally accepted practices or guidelines in the relevant jurisdictions.</p>
<p>5.4.	Unless permitted to do so by Mayhem, you agree that You will not reproduce, duplicate, copy, sell, trade or resell the Services for any purpose. You are, however, free to recommend the Services to other potential Members.</p>
<p>5.5.	You acknowledge and agree that Mayhem may stop providing the Services (partially or totally) to you or to other Users at Mayhem’s sole discretion, without prior notice to you. Consequently, Mayhem may disable access to your user account, prevent you from accessing the Services, your account details and/or other content which is contained in your account. You may stop using the Services at any time.</p>
<p>5.6.	You understand that by using the Services you may be exposed to alarm messages, invitations or alike, which you may find disruptive or objectionable and that, in this respect, you use the Services at your own risk.</p>
<p>5.7.	You understand that by using the Services you will use digital assets. By using the Services, you acknowledge that you are aware that:</p>
<p>5.7.1.	The digital assets market is new and unconfirmed, and transactions in digital assets are highly risky; and</p>
<p>5.7.2.	Trading in digital assets is not suitable for the vast majority of people; and</p>
<p>5.7.3.	Investing in digital assets may result in partial or total loss of your investment, and that you are advised to decide the amount of your investment based on your loss-bearing capacity;</p>
<p>5.7.4.	You are advised to carefully consider and use clear judgement to assess your financial positional and the abovementioned risks before making any decisions on buying and selling digital assets;</p>
<p>5.7.5.	All losses arising therefrom will be borne by you and Mayhem shall not be held liable in any manner whatsoever.</p>
<br>
6.	ACKNOWLEDGEMENTS, COMMITMENTS AND DON’TS
<p>6.1.	You acknowledge that you are not barred from receiving the Services under the laws of Estonia or any other countries including the country in which you are a resident or from which you use the Services.</p>
<p>6.2.	You acknowledge that the purpose of the Services is solely to offer a gaming experience to you.</p>
<p>6.3.	In conjunction with this Agreement, fees, charges and taxes may be charged by third parties. In this case, you acknowledge that Mayhem will not pay any such fees, charges or taxes.</p>
<p>6.4.	You acknowledge that most communication within and related to the Services will be made by use of the English language.</p>
<p>6.5.	You agree and warrant that You will not publish, post, transfer, distribute or upload any content or information to the Product and/or the Services which:</p>
<p>6.5.1.	is false, misleading, untruthful or inaccurate;</p>
<p>6.5.2.	promotes or encourages illegal activity;</p>
<p>6.5.3.	is in any way discriminating, offensive or attacking (e.g. racially, ethnically, religiously, sexually):</p>
<p>6.5.4.	constitutes defamation, contains pornography or is in any other way sexually explicit;</p>
<p>6.5.5.	is in any way harmful, abusive, offensive, illegal, unethical or which infringes the rights of any third party (such as including but not limited to copyright and trademarks).</p>
<p>6.6.	You agree and warrant that you will not (and will not permit any third party to):</p>
<p>6.6.1.	use the Product and/or the Services to transfer or upload files or other content that contains viruses, corrupted data, malicious software or other programs that may harm computers or other property;</p>
<p>6.6.2.	distribute or reproduce all or any part of the Product or the Services;</p>
<p>6.6.3.	alter, disassemble, decompile or reverse engineer any part of the Product or the Services, unless explicitly permitted by mandatory law;</p>
<p>6.6.4.	use software that reads data on the Product or of the Services automatically;</p>
<p>6.6.5.	use the Product and/or the Services to request or encourage other users to breach any provision of this Agreement.</p>
<p>6.7.	You agree and warrant that you will respect the names and logos associated with Mayhem as the properties of Mayhem and agree not to use any Mayhem trademark or logos in any manner without Mayhem’s prior written consent.</p>
<p>6.8.	You agree that you are solely responsible for (and that Mayhem has no responsibility to you or to any third party for) any and all content that You create, transmit or display while using the Platform and/or the Services and for the consequences of your actions (including any loss or damage which Mayhem may suffer) by doing so.</p>
<p>6.9.	Mayhem reserves the right to immediately remove any content from the Product that Mayhem, in its sole discretion, deems is in breach of the Terms or is otherwise harmful for Mayhem or its Members.</p>
<p>6.10.	The Platform and the Services may enable you to send messages to other. Such messages are not reviewed by Mayhem. You are personally responsible for any messages you send by use of the Platform and the Services and you agree and warrant that you will not send messages in breach of the Terms, including to harass or threaten other Members, including but not limited to repeatedly sending unwanted messages.</p>
<p>6.11.	You agree that it is prohibited to use the Services to engage in any illegal transaction activities or illegitimate activities, such as (but not limited to) money laundering, gambling activities, fraud, terrorist activities, smuggling and commercial bribery. In the event that any suspected illegal transaction activities or illegitimate activities is uncovered, Mayhem will adopt all available measures, including but not limited to freezing the offender’s account and notifying relevant authorities. In these circumstances, Mayhem will not assume any of the responsibilities arising therefrom and reserve the right to hold relevant persons accountable.</p>
<p>6.12.	You consider and acknowledge that the use of digital assets and blockchain and blockchain-based systems exposes you to high risks associated with (but not limited to):</p>
<p>6.12.1.	Price volatility. You hereby accept and understand that Mayhem does not guarantee the market liquidity of digital assets. This might cause difficulties in buying, selling or trading digital assets. You acknowledge and confirm you shall not hold Mayhem or any of Mayhem’s representatives and affiliates liable for any losses or damages arising from the price volatility of digital assets;</p>
<p>6.12.2.	Operational errors. You accept and understand that you may never receive digital assets or lose the entire amount paid for digital assets as a result of technical interruptions and operational errors;</p>
<p>6.12.3.	Regulatory framework. You acknowledge and understand that Mayhem shall not be liable for any losses or damages, whether direct or indirect, caused by changes in regulatory and/or compliance requirements of the applicable digital assets law and regulation;</p>
<p>6.12.4.	Loss or theft. You acknowledge and understand that Mayhem shall not be liable for any losses or damages, whether direct or indirect, caused by a security breach, an error you may make or any technological failure.</p>
<br>
7.	YOUR LIABILITY AND INDEMNIFICATION 
<p>7.1.	You are solely responsible to Mayhem or other parties for all activities that occur under your user account.</p>
<br>
8.	MAYHEM’S LIABILITY
<p>8.1.	Mayhem does not grant any warranties, express or implied or otherwise, as to the accessibility, quality, suitability or accuracy of the Product. You expressly understand and agree that your use of the Services is at your sole risk and that the Services are provided “as is” and “as available”. There are situations when the Services will not be accessible, including but not limited to necessary maintenance and circumstances outside the control of Mayhem, such as Product access failure, for which Mayhem shall never be liable.</p>
<p>8.2.	In particular, Mayhem, its Subsidiaries and Affiliates, and its licensors do not ensure or warrant to You that:</p>
<p>8.2.1.	Your use of the Services will meet your requirements;</p>
<p>8.2.2.	Your use of the Services will be uninterrupted, timely, secure or free from error;</p>
<p>8.2.3.	Any information obtained by you as a result of your use of the Services will be accurate or reliable; and</p>
<p>8.2.4.	Defects in the operation or functionality of any software provided to you as part of the Services will be corrected.</p>
<p>8.3.	You expressly understand and agree that Mayhem, its Subsidiaries and Affiliates, and its licensors will not be liable to you for:</p>
<p>8.3.1.	Any reliance placed by you on the completeness, accuracy or existence of any advertising, or as a result of any relationship or transaction between you and any advertiser or sponsor whose advertising appears on the Services;</p>
<p>8.3.2.	The deletion, corruption of, or failure to store, any content and other communications data maintained or transmitted by or through your use of the Services;</p>
<p>8.3.3.	Your failure to provide Mayhem with accurate account information;</p>
<p>8.3.4.	Your failure to keep your password or account details secure and confidential.</p>
<p>8.4.	Any material downloaded or otherwise obtained using the Services is done at your own discretion and risk and you will be solely responsible for any damage to your computer system or other device or loss of data that results from the download of any such material.</p>
<p>8.5.	Notwithstanding, and to the maximum extent permitted by applicable law, Mayhem shall not be liable to you or any third party for any direct damages, indirect damages or any other damages of any kind including but not limited to the loss of profit, loss of income, loss of revenue, business interruption and goodwill losses arising out of or in connection with the Agreement or the use or inability to use the Service or the Platform.</p>
<p>8.6.	Except for damages arising from Mayhem’s fraud or wilful misconduct, in no event will Mayhem be liable for indirect, special, incidental or consequential damages including, but not limited to, loss of profits, loss of revenues, data loss or usage, or loss of opportunities, arising out of or relation to the Services. To the extent any liability of Mayhem cannot be disclaimed, excluded or limited as aforesaid under applicable law, such liability shall be disclaimed, excluded and limited to the fullest extent permitted under applicable law.</p>
<p>8.7.	The parties to these Terms shall not be liable for breach of obligations caused by force majeure. Circumstances considered as force majeure are such which are beyond control of the obliged party (i.e. power failure, failure of communication lines, general fault of computer systems, regulatory enactments adopted by public authorities, strikes, military activity, national or international pandemic, natural disasters) or any circumstances which the parties could not have prevented or predicted. Once the force majeure circumstances have been prevented or no longer apply, the respective party must immediately continue performing their obligations.</p>
<p>8.8.	Mayhem is entitled to restrict access to the Product for the duration of maintenance and repairs of the Product . The Product Administrator is not responsible for possible damages caused by the interruption of the Product’s functionality.</p>
<br>
9.	INTELLECTUAL PROPERTY RIGHTS
<p>9.1.	You agree that the Product and Services contain content specifically provided by Mayhem or third parties and that such content may contain intellectual property rights. You agree to respect all intellectual property rights, including but not limited to copyright, trademarks, trade names (whether registered or not) contained or displayed on the Product or which you gain access to in connection with the Services.</p>
<p>9.2.	You may only use the content of the Product for the use of the Services and you must not use the content of the Product in breach of any applicable laws or the Agreement. You may use such intellectual property rights only for the purpose of browsing the Product and to use the Services. </p>
<p>9.3.	Mayhem does not grant you any other license to use the said intellectual property rights except as expressly set out in this Agreement. Nothing in the Terms gives you a right to use any of Mayhem’s trade names, trademarks, service marks, logos, domain names, and other distinctive brand features. </p>
<p>9.4.	You agree that you will not remove, obscure, or alter any proprietary rights notices (including copyright and trademark notices) which may be affixed to or contained within the Product and the Services.</p>
<p>9.5.	In order to provide the Services, Mayhem may need a right to use the User Content. You hereby grant Mayhem a perpetual, irrevocable, worldwide, non-exclusive, royalty-free and sub-licensable right to host, publish, distribute, stream, transmit, playback, transcode, copy, feature, display, reproduce, adapt, modify, translate, publicly perform and otherwise use the User Content to perform the Services and/or promote the Product. You agree that this right includes a right for Mayhem to make such User Content available to other companies, organisations or individuals with whom Mayhem has relationships for the provision of affiliated services, and to use such User Content in connection with the provision of those services.</p>
<p>9.6.	You understand that Mayhem, in performing the required technical steps to provide the Services to its users, may (i) transmit or distribute your User Content over various public networks and in various media; and (ii) make such changes to your User Content as are necessary to conform and adapt that User Content to the technical requirements of connecting networks, devices, services or media. You agree that this license will permit Mayhem to perform these actions.</p>
<p>9.7.	Mayhem reserves the right (but shall have no obligation) to pre-screen, review, flag, filter, modify, refuse or remove any or all User Content from the Product and Services.</p>
<p>9.8.	You warrant that you have all necessary rights to display and upload the User Content and in all other ways use the User Content and to provide Mayhem with the above license to the User Content.</p>
<p>9.9.	Should any User Content infringe the intellectual property rights of a third party, you agree to immediately remove all infringing parts of the User Content and indemnify Mayhem all damages, costs and expenses incurred as a result of such infringement. Should Mayhem be made aware or suspect that the User Content infringes any third party’s intellectual property rights, Mayhem shall have the right to remove from the Product all such User Content.</p>
<br>
10.	THIRD-PARTY PLATFORMS
<p>10.1.	When using the Product, any information that you enter on a third-party website will be shared with the owner of the third-party website and your information may be subject to their privacy policies and terms and conditions.</p>
<p>10.2.	The Product may permit you to link to other websites on the Internet, and other websites may link to the Product. Your access to third-party websites is always at your own risk. Third party websites are beyond the control of Mayhem and you acknowledge that Mayhem shall not be responsible for the content, functions, accuracy, legality or any other aspect of such websites. You further acknowledge and agree that Mayhem shall not be liable for any damage or loss caused by or in connection with the use of or reliance on any content of such third-party websites.</p>
<br>
11.	PRIVACY AND PERSONAL DATA 
<p>11.1.	The use of the Product and the Services entails various types of personal data being processed for various purposes. By agreeing to this Agreement, you also agree to the Privacy Policy of the Webstie. Mayhem encourages you to read the Privacy Policy.</p>
<br>
12.	CHANGE OF TERMS AND TERMINATION
<p>12.1.	You agree that Mayhem may provide you with notices, including those regarding changes to the Terms, by email, regular mail or postings on the Product and the Services.
<p>12.2.	If any court of law, having the jurisdiction to decide on this matter, rules that any provision of these Terms is invalid, then that provision will be removed from the Terms without affecting the rest of the Terms. The remaining provisions of the Terms will continue to be valid and enforceable.</p>
<p>12.3.	Mayhem has the right to make changes to these Terms. Mayhem shall inform you of any such changes. Such information shall be given by a clear notice on the Product or by email to the email address provided by you. Your continued use of the Product and the Services after any changes to the Terms have become effective indicates your unconditional acceptance of those changes. If you do not agree to the Terms or any changes thereto, you are prohibited from using the Platform and the Services and the Agreement is considered to be terminated.</p>
<p>12.4.	Mayhem may terminate this Agreement and your access to the Services by a written notice to Your email address with an immediate effect if you commit a breach of this Agreement or you have acted in a manner which clearly shows that you do not intend to or are unable to comply with the provisions of the Terms.</p>
<p>12.5.	Furthermore, Mayhem may terminate the Agreement and cease to provide the Services without prior notice, if:</p>
<p>12.5.1.	required by law or an authority’s decision (for example, where the provision of Services to you is, or becomes, unlawful or a licensed activity) or because Mayhem ceases to provide the Services; or</p>
<p>12.5.2.	Mayhem is transitioning to no longer providing the Services to users in the country in which you are a resident or from which You use the Services; or</p>
<p>12.5.3.	the provision of the Services to you by Mayhem is, in Mayhem’s opinion, no longer commercially viable;</p>
<p>12.5.4.	Mayhem restructures its website, services or business activities.</p>
<p>12.6.	When the Agreement is terminated, irrespective of the reason thereof, all of the legal rights, obligations and liabilities that you and Mayhem have benefited from, been subject to (or which have accrued over time whilst the Terms have been in force) or which are expressed to continue indefinitely, shall be unaffected by this cessation.</p>
<br>
13.	ASSIGNMENT
<p>13.1.	You may not assign your rights or obligations under this Agreement without Mayhem’s prior written consent.</p>
<p>13.2.	Mayhem may assign its rights and/or obligations under this Agreement without your prior consent.</p>
<br>
14.	OTHER PROVISIONS
<p>14.1.	Nothing in this Agreement shall be deemed to have created, implied or otherwise treated Mayhem as your agent, trustee or another representative unless it is provided otherwise in this Agreement.</p>
<p>14.2.	Mayhem’s or your waiver of the right to hold the other party liable for breaches of agreement or any other liability as is agreed upon in this Agreement shall not be construed or deemed as a waiver of the right to hold the other party for other breaches of contract; a failure to exercise any right or remedy shall not be construed in any way as a waiver of such right or remedy.</p>
<p>14.3.	Mayhem makes no representation about the suitability of the information and related graphics contained in the Product. All such information and related graphics are provided “as is”, without warranty of any kind. Mayhem disclaims all warranties and conditions with regard to such information and related graphics, including all warranties and conditions of merchantability, whether express, implied or statutory, fitness for a particular purpose, title and non-infringement.</p>
<p>14.4.	All headings in this Agreement are exclusively for the convenience of wording and are not intended to expand or limit the content or scope of the terms and conditions of this Agreement.</p>
<br>
15.	GOVERNING LAW AND DISPUTES
<p>15.1.	This Agreement, the Terms and any non-contractual obligations arising out of or in connection with it shall be governed by and construed and interpreted in accordance with the laws of the British Virgin Islands without regard to its conflict of law rules.</p>
<p>15.2.	Any dispute, controversy or claim arising out of or in connection with this Agreement or any non-contractual obligation arising out of or in connection with this Agreement, or the breach, termination or invalidity thereof, shall be finally settled in the British Virgin Islands’ courts.</p>
<p>15.3.	If you would like to contact Mayhem regarding these Agreement, please email us at info@cryptomayhem.io. Mayhem shall respond to you within several business days. You agree that your feedback may be used to improve and/or modify the Product and/or the Services without any limitation or obligation to pay.</p>

    </section>
    <footer id="contact">
        <hr class="joinUs">
        <img src="../img/logo.svg" alt="Crypt0Mayhem" class="logo">

        <ul class="socialLinks">
            <li>
                <a href="https://twitter.com/CryptoMayhem_io" class="icon-twitterlight"><span>Twitter</span></a>
            </li>
            <li>
                <a href="https://t.me/CryptoMayhemAnnouncement"
                   class="icon-telegramlight"><span>Telegram</br>Announcement</span></a>
            </li>
            <li>
                <a href="https://t.me/CryptoMayhemOfficial" class="icon-telegramlight"><span>Telegram Chat</span></a>
            </li>
            <li>
                <a href="https://www.youtube.com/c/AdriaGames" class="icon-ytlight"><span>YouTube</span></a>
            </li>
            <li>
                <a href="https://discord.gg/XZxXK2aUre" class="icon-discordlight"><span>Discord</span></a>
            </li>
            <li>
                <a href="https://medium.com/@crypto_mayhem" class="icon-mediumlight"><span>Medium</span></a>
            </li>
        </ul>
        <a href="mailto:info@cryptomayhem.io" class="email">info@cryptomayhem.io</a>
        <div class="finalFooter">
            <div>&copy; 2022 Crypto Mayhem</div>
            <div class="finalFooterCenter">
				Mayhem Games OÜ<br>
				Lõõtsa tn 5, 11415<br>
				Tallinn, Estonia
            </div>
            <div>
                <a href="privacy-policy" data-t="FOOTER.PRIVACY_POLICY"></a>
                <a href="terms-and-conditions" data-t="FOOTER.TERMS"></a>
            </div>
        </div>
    </footer>
</main>
</body>
</html>